.erxes-embed-iframe {
  width: 500px;
  border: none;
  margin: 0 auto;
  height: 100%;
}

.erxes-modal-iframe {
  position: fixed; /* Stay in place */
  z-index: 1000000; /* Sit on top */
  left: 0;
  top: 0;
  min-width: 100%; /* Full width */
  min-height: 100%; /* Full height */
  border: none;
}

.erxes-shoutbox-iframe {
  position: fixed;
  bottom: 12px;
  right: 12px;
  border: none;
  z-index: 100000000;
}

.erxes-shoutbox-form-hidden {
  width: 72px;
  height: 72px;
}

.erxes-shoutbox-form-shown {
  width: 386px;
  height: calc(100% - 20px);
  max-height: 660px;
}

.hidden {
  display: none !important;
}
