.nav-container {
  // Positioning bottom navigation bar
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  padding: 0.25rem;
  background-color: #19191b;
  border-radius: 100px;
  width: fit-content;
}

.nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-item {
  position: relative;
  height: 2.75rem;
  min-width: 2.75rem;
  cursor: pointer;
  &:hover {
    border-radius: 9999px;
    background-color: hsla(0, 0%, 100%, 0.25);
    svg {
      fill: white;
    }
  }
  &.active {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    background-color: transparent;
  }
  .nav-content {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    span {
      font-size: 0.85rem;
      font-weight: 500;
      color: white;
      background-color: transparent;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}
