// Colors
$main-color:        #7754b3;
$bg-color:          #faf9fb;
$white:             #fff;
$black:             #000;
$red:               #f74040;
$grey:              #f5f4f6;
$grey-light:        #eee;
$text-color:        #686868;
$text-color-light:  #888;
$border-gray:       #ddd;

// Dimensions
$border-radius:     4px;

// Base64 images
$icon-close-big: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUAAAD///////////////////////////8AAADr8xjQAAAAB3RSTlMAM7cPx7jIAE21/gAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABESURBVAjXYxAyYGBgYFZkUHcG0ialDCYlBgzM7slA7MxgUgaUNCkzdgfJMbunlIDUMpiUg7hwGiYOVQfTBzMHZi7UHgCB3RAZ7HszogAAAABJRU5ErkJggg==';
