$shadow-black: rgba(0, 0, 0, .1);

.erxes-home-container {
  flex: 1;
  overflow-y: scroll;
  padding: 15px 10px 0 15px;
  padding-top: 170px;

  .integration-box {
    animation-delay: .4s;
    background: $white;
    border-radius: $border-radius;
    box-shadow: 0 4px 15px 0 $shadow-black, 0 1px 2px 0 $shadow-black;
    margin-bottom: 15px;
    min-height: 100px;
    padding-top: 15px;
    position: relative;
    z-index: 3;

    h4 {
      margin: 0 20px 15px;
      font-weight: 500;
    }

    .empty-list {
      padding: 0 20px 20px;

      p {
        color: $text-color-light;
        margin-top: 0;
      }
    }
  }

  .erxes-topbar {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.erxes-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: -50px;
  overflow-wrap: break-word;
  padding: 22px 0 50px;
  text-align: left;
  word-wrap: break-word;

  .erxes-supporters {
    padding-top: 20px;

    .erxes-supporter {
      display: inline-block;
      flex: none;
      margin-right: 10px;
    }

    img {
      border: 0;
    }
  }

  .brand-info {
    display: block;
  }

  .erxes-topbar-title,
  .erxes-state {
    display: none;
  }

  .erxes-tooltip::before {
    top: -100%;
  }

  .loader-wrapper {
    margin-left: -50px;
  }
}

.loader-wrapper {
  height: 70px;
  position: relative;
}