.erxes-launcher {
  color: $white;
  line-height: 56px;
  text-align: center;
  border-radius: 28px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  bottom: 8px;
  right: 8px;
  box-shadow: 0 0 10px 0 rgba($black, 0.2);
  transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in;
  background-image: url('/static/images/widget-logo.png');
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $main-color;

  span {
    position: absolute;
    width: 20px;
    height: 20px;
    background: $red;
    display: block;
    right: -2px;
    top: -5px;
    color: $white;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
  }

  &.close {
    background-image: url('/static/images/close.svg') !important;
    background-position: 50%;
    background-size: inherit;
    transition: background 0.3s ease-in-out;
  }

  &:hover {
    box-shadow: 0 0 12px 0 rgba($black, 0.3);
  }

  @media screen and (max-width: $break-small) {
    &.close {
      border-radius: 4px;
      box-shadow: none;
      display: block;
      height: 40px;
      line-height: 40px;
      right: 10px;
      top: 15px;
      width: 40px;
      z-index: 1000000000;

      &:hover {
        background-color: rgba($black, 0.2);
      }
    }
  }
}
