.erxes-messenger {
  @include prefix((
    opacity: 0
  ), webkit moz ms o);
  background: $white;
  border-radius: $border-radius;
  bottom: 86px;
  box-shadow: 0 2px 16px 1px rgba($black, .2);
  display: flex;
  flex-direction: column;
  height: calc(100% - 95px);
  max-height: 620px;
  overflow: hidden;
  position: absolute;
  right: 8px;
  transition: opacity .3s ease, bottom .3s ease;
  visibility: hidden;
  width: calc(100% - 36px);
  z-index: 9998;

  @media screen and (max-width: $break-small) {
    border: none !important;
    bottom: 0;
    height: 100%;
    max-height: none;
    right: 0;
    width: 100%;
  }
}

.accquire-information {
  height: 200px;

  .content {
    padding: 20px 40px;
  }

  .type {
    margin-top: 0;

    span {
      cursor: pointer;
      display: inline-block;
      margin-right: 10px;

      &.current {
        border-bottom: 1px solid;
        font-weight: bold;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: 5px;

    &.invalid {
      @include animation(0, .8s, shake, cubic-bezier(.36, .07, .19, .97), initial);

      input {
        border-color: $red !important;
      }
    }

    input {
      -webkit-appearance: none;
      border: 1px solid $main-color;
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
      box-sizing: border-box;
      flex: 1;
      font-size: $font-size;
      height: 38px;
      margin-right: 0;
      outline: 0;
      padding: 10px 15px;
    }

    button {
      background-color: $main-color;
      border: 0;
      border-bottom-right-radius: $border-radius;
      border-radius: 0;
      border-top-right-radius: $border-radius;
      height: 38px;
      margin: 0;
      outline: 0;
      padding: 4px;
      width: 31px;

      svg {
        margin-top: 3px;
      }
    }
  }

  @media screen and (max-width: $break-small) {
    height: 100%;
  }
}
