.erxes-message-sender {
  overflow: hidden;
  font-size: 12px;
  position: relative;
  min-height: 60px;
  border-top: 1px solid $grey-light;

  textarea.reply {
    color: $text-color;
    border: 0;
    border-radius: 3px;
    padding: 20px 25px;
    font-size: $font-size;
    width: 100%;
    max-width: 100%;
    outline: none;
    resize: none;
    padding-right: 40px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    &:focus {
      @include prefix((
        box-shadow: none !important
      ), webkit moz ms o);
    }
  }

  .btn-attach {
    position: absolute;
    right: 15px;
    top: 13px;
    width: 35px;
    height: 35px;
    margin: 0;
    cursor: pointer;
    opacity: .7;
    text-align: center;

    &:hover {
      opacity: 1;
    }

    input[type="file"] {
      display: none;
    }
  }

  .loader {
    position: absolute;
    right: 23px;
    top: 20px;
    border: 2px solid $grey;
    @include prefix((
      animation: spin 1s linear infinite
    ), webkit moz ms o);
    border-top: 2px solid darken($grey, 10%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
