@mixin bg-option {
  background-repeat: repeat;
  background-position: 0 0;
}

.erxes-messages-list {
  background-color: $bg-color;
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 20px;

  li {
    margin-bottom: 10px;
    position: relative;

    &.from-customer {
      text-align: right;
    }

    .date {
      color: $text-color;
      font-size: 11px;
      margin-left: 50px;
    }
  }

  &.bg-1 {
    @include bg-option;
    background-image: url('/static/images/bg-1.png');
  }

  &.bg-2 {
    @include bg-option;
    background-image: url('/static/images/bg-2.png');
  }

  &.bg-3 {
    @include bg-option;
    background-image: url('/static/images/bg-3.png');
  }

  &.bg-4 {
    @include bg-option;
    background-image: url('/static/images/bg-4.png');
  }
}

.erxes-spacial-message {
  background: $white;
  border: 1px solid $border-color;
  border-radius: 4px;
  color: $text-color;
  margin-bottom: 20px;
  padding: 20px;

  &.away {
    margin-bottom: 0;
    margin-top: auto;
  }

  &.ml50 {
    margin-left: 50px;
  }

  & ~.erxes-spacial-message {
    margin-top: 15px;
  }
}

.erxes-message {
  background-color: $grey;
  border-radius: $border-radius;
  color: $text-color;
  display: inline-block;
  margin: 0 20px 5px 50px;
  padding: 12px 15px;
  position: relative;
  text-align: left;
  word-break: break-word;

  &.from-customer {
    background-color: $main-color;
    color: $white;
    margin: 0 0 5px 20px;
    text-align: right;

    .file-wrapper {
      border-color: $grey;
    }
  }

  &.attachment {
    background: none !important;
    border: 0;
    padding: 0;

    > span {
      display: none;
    }
  }

  p {
    margin-top: 0;
    word-break: break-word;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    background: lighten($grey, 10%);
    border-radius: $border-radius;
    max-width: 240px;
    min-height: 30px;
    min-width: 60px;
  }

  ul {
    list-style-type: disc;
    padding-left: $core-spacing;

    li {
      margin-bottom: 5px;
      overflow: visible;
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: $core-spacing;

    li {
      margin-bottom: 5px;
      overflow: visible;
    }
  }

  h3 {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 0;
  }

  blockquote {
    border-left: 5px solid $border-color;
    font-size: 16px;
    margin: 0;
    padding: $core-spacing / 2 $core-spacing;
  }

  pre {
    background-color: $grey;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    color: lighten($black, 30%);
    display: block;
    font-size: 13px;
    line-height: 1.42857143;
    margin: 0;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
  }

  a {
    color: $main-color;
    outline: 0;
  }
}

.file-wrapper {
  @include prefix((transition: border .3s ease-in-out), webkit moz ms o);
  background: lighten($grey, 10%);
  border: 1px solid transparent;
  border-radius: $border-radius;
  color: $text-color;
  padding: 16px $core-spacing;
  padding-left: 40px;
  position: relative;

  svg {
    height: 30px;
    left: 13px;
    position: absolute;
    top: 11px;
    width: 16px;
  }

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: rtl;
    text-align: left;
    max-width: 140px;
    display: block;
  }

  &:hover {
    border-color: $grey;
  }
}

.download-attachment {
  display: block;
  text-decoration: none;

  img {
    @include prefix((transition: opacity .3s ease-in-out), webkit moz ms o);

    &:hover {
      opacity: .8;
    }
  }
}

.erxes-avatar {
  border-radius: 50%;
  bottom: 20px;
  height: 40px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 40px;

  img {
    height: 100%;
    width: 100%;
  }
}

.btn-resend {
  background: $white;
  border: 0;
  border-radius: $border-radius;
  color: $text-color;
  cursor: pointer;
  margin-top: 5px;
  outline: 0;
  padding: 5px 15px;

  &:focus,
  &:hover {
    background: lighten($grey, 10%);
  }
}
