$core-spacing: 20px;

.erxes-notification {
  color: $white;
  border-radius: $border-radius;
  bottom: 86px;
  box-shadow: 0 5px 15px -3px rgba($black, .15);
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  position: absolute;
  right: 8px;
  transition: all .3s ease-in-out;
  width: calc(100% - 36px);
  z-index: 9998;

  &.fullMessage {
    height: calc(100% - 110px);
  }

  .flex-notification {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 5px 15px -3px rgba($black, .2);
    cursor: pointer;
  }

  .notification-body {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 22px;
    margin-bottom: $core-spacing;
    overflow: hidden;
    padding: 0 $core-spacing;
    word-wrap: break-word;

    &.fullMessage {
      display: block;
      flex: 1;
      margin-bottom: 0;
      overflow: auto;
      padding: 0 $core-spacing $core-spacing;
    }

    img {
      max-width: 100%;
    }
  }

  .user-info {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: $core-spacing $core-spacing $core-spacing / 2;

    .erxes-avatar {
      margin-right: 10px;
      position: initial;
    }
  }
}
