$name-white: rgba(255, 255, 255, .6);

.erxes-topbar {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-around;
  padding: 0 15px;
  transition: height ease .3s;
  width: auto;

  &.big {
    height: 200px;
  }

  &.expanded {
    height: 120px;
  }

  .erxes-middle {
    @include prefix((
      transition: background .3s ease-in-out
    ), webkit moz ms o);
    display: flex;
    flex: 1;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    margin: 0 50px;

    &.expandable:hover {
      background: rgba($black, .1);
      cursor: pointer;
    }
  }
}

.erxes-supporters {
  align-items: center;
  display: flex;

  .erxes-supporter {
    flex: 1;
    flex-shrink: 0;
    margin-right: -8px;
    text-align: center;

    &:last-of-type {
      margin: 0;
    }
  }

  .erxes-staff-name {
    color: $name-white;
    display: none;
    font-size: 12px;
  }

  &.full {
    padding: 20px 0;

    .erxes-supporter {
      margin: 0;
      padding: 0 5px;
    }

    .erxes-staff-name {
      display: block;
    }

    .avatar {
      display: inline-block;

      img {
        border: 0;
      }
    }

    .erxes-tooltip::before {
      display: none;
    }
  }

  .avatar {
    position: relative;

    img {
      background: rgba($black, .2);
      border: 2px solid $main-color;
      border-radius: $core-spacing + 2;
      display: block;
      height: ($core-spacing * 2);
      width: ($core-spacing * 2);
    }

    .erxes-state {
      border: 1px solid $main-color;
      bottom: 2px;
      position: absolute;
      right: 2px;
      z-index: 2;
    }
  }

  .supporters-name {
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}
