$name-white: rgba(255, 255, 255, .6);
$topbar-shadow: rgba(0, 0, 0, 0.1);

.erxes-topbar {
  align-items: center;
  box-shadow: 0 4px 6px 0 $topbar-shadow;
  display: flex;
  height: 70px;
  justify-content: space-around;
  min-height: 70px;
  padding: 0 15px;
  transition: height ease .3s;
  width: auto;
  z-index: 2;

  &.big {
    height: auto;
  }

  &.expanded {
    height: auto;

    .brand-info {
      display: block;
    }

    .erxes-middle.expandable {
      margin: 0 0 0 55px;
    }

    .erxes-topbar-title {
      margin-right: 55px;
    }
  }

  .erxes-middle {
    @include prefix((
      transition: background .3s ease-in-out
    ), webkit moz ms o);
    align-items: center;
    display: flex;
    flex: 1;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    margin: 0 55px;

    &.expandable:hover {
      cursor: pointer;
    }
  }

  .brand-info {
    display: none;

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 0 0 10px;
      padding-right: 50px;
    }

    .description {
      color: $name-white;
      font-size: 13px;
      line-height: 21px;
    }
  }

  .erxes-head-content {
    padding: 22px 0;
    text-align: left;
  }
}

.erxes-supporters {
  align-items: center;
  display: flex;

  .erxes-supporter {
    flex: 1;
    flex-shrink: 0;
    margin-right: -8px;

    &:last-of-type {
      margin: 0;
    }
  }

  .erxes-staff-name {
    color: $name-white;
    display: none;
    font-size: 12px;
  }

  &.full {
    padding-top: 20px;

    .erxes-supporter {
      margin: 0;
      padding: 0 5px;
    }

    .erxes-staff-name {
      display: block;
    }

    .avatar {
      display: inline-block;

      img {
        border: 0;
      }
    }

    .erxes-tooltip::before {
      display: none;
    }
  }

  .avatar {
    position: relative;

    img {
      background: rgba($black, .2);
      border: 2px solid $main-color;
      border-radius: $core-spacing + 2;
      display: block;
      height: ($core-spacing * 2);
      width: ($core-spacing * 2);
    }

    .erxes-state {
      border: 1px solid $main-color;
      bottom: 2px;
      position: absolute;
      right: 2px;
      z-index: 2;
    }
  }

  .supporters-name {
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}
