$break-small: 415px;

.erxes-form {
  position: fixed;
  width: 370px;
  background: $white;
  box-shadow: 0 5px 15px -3px rgba($black, .15);
  z-index: 9998;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  border-radius: 4px;
  overflow: hidden;
  right: 8px;
  bottom: 86px;
  @include prefix((
    opacity: 0
  ), webkit moz ms o);
  visibility: hidden;
  transition: opacity .3s ease-in-out, bottom .2s ease-in-out;

  .erxes-information {
    background: $bg-color;
    color: $text-color;
    padding: 25px 20px 20px;

    .erxes-error {
      color: $red;
      font-size: 12px;
    }

    @media screen and (max-width: $break-small) {
      flex: 1;
    }
  }

  @media screen and (max-width: $break-small) {
    bottom: 0;
    height: 100%;
    max-height: none;
    right: 0;
    width: 100%;
  }
}
