#erxes-container {
  overflow: hidden;

  .close {
    outline: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: $border-radius;
    z-index: 9999999999;
    right: 5px;
    top: 15px;

    @include prefix((
      transition: all .3s ease-in-out
    ), webkit moz ms o);

    @include prefix((
      transform: translate(0, -25%)
    ), webkit moz ms o);

    &:hover {
      background-color: rgba($black, .2);
      cursor: pointer;
    }
  }
}

// modal form
.modal-form {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: #000; /* Fallback color */
  background-color: rgba(0, 0, 0, .6); /* Black w/ opacity */
  @include prefix((
    transition: opacity .15s linear
  ), webkit moz ms o);

  .erxes-form {
    margin: 50px auto;
    width: 500px;
    @include prefix((
      transition: transform 0.3s ease
    ), webkit moz ms o);

    @include prefix((
      transform: translate(0,-25%)
    ), webkit moz ms o);

    @media screen and (max-width: $break-medium) {
      width: 100%;
      margin: 0;
    }
  }

  &.open {
    background-color: #000; /* Fallback color */
    background-color: rgba(0, 0, 0, .6); /* Black w/ opacity */
    opacity: 1;

    .erxes-form {
      @include prefix((
        transform: translate(0,0)
      ), webkit moz ms o);
    }

    .close {
      @include prefix((
        transform: translate(0,0)
      ), webkit moz ms o);
    }
  }

  .close {
    right: 50% !important;
    top: 65px !important;
    margin-right: -240px;
  
    @media screen and (max-width: $break-medium) {
      margin-right: auto;
      right: 10px;
      top: 8px;
    }
  }
}

.erxes-form {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .erxes-form-content {
    background-color: $bg-color;
    overflow: auto;
    padding: 20px;
    margin: 0;
    flex: 1;
    list-style: none;
    position: relative;

    .erxes-description {
      margin-bottom: 5px;
      color: #555;
    }

    .btn {
      background: $main-color;
      outline: 0;
      border: 0;
      border-radius: $border-radius;
      color: $white;
      padding: 10px 20px;
      cursor: pointer;
      @include prefix((
        transition: background .3s ease-in-out
      ), webkit moz ms o);

      &:focus,
      &:hover {
        background: darken($main-color, 10%);
      }

      &.btn-block {
        width: 100%;
        display: block;
      }
    }
  }

  .erxes-callout-body {
    margin-bottom: 10px;
    color: #555;
    width: 100%;
    display: block;
  }

  .form-group {
    margin-bottom: 15px;

    .control-label {
      max-width: 100%;
      font-weight: 500;

      > .required {
        margin-left: 2px;
      }
    }

    .description {
      color: #666;
      font-size: 13px;
      display: block;
    }

    .form-control {
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      line-height: 1.42857143;
      margin-top: 8px;
      background-color: #fff;
      background-image: none;
      border: 1px solid $border-color;
      outline: 0;
      color: lighten($black, 10%);
      border-radius: $border-radius;
      @include prefix((
        transition: all .3s ease-in-out
      ), webkit moz ms o);
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;

      &[type="checkbox"] {
        display: inline-block;
        width: inherit;
        height: inherit;
        margin: 3px 8px 3px 0;
      }

      &:focus {
        border-color: lighten($main-color, 20%)
      }
    }

    .check-control {
      margin-top: 8px;
    }

    textarea.form-control {
      height: auto;
      min-height: 70px;
    }

    .error {
      color: $red;
      font-size: 12px;
      margin-left: 4px;
    }
  }

  .erxes-result {
    text-align: center;
    color: $text-color;

    button {
      border: none;
      outline: 0;
      display: block;
      margin: 10px auto 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.container-popup {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: #000; /* Fallback color */
  background-color: rgba(0, 0, 0, .6); /* Black w/ opacity */
  @include prefix((
    transition: opacity .15s linear
  ), webkit moz ms o);

  .erxes-form {
    margin: 50px auto;
    width: 500px;
    @include prefix((
      transition: transform 0.3s ease
    ), webkit moz ms o);

    @include prefix((
      transform: translate(0,-25%)
    ), webkit moz ms o);

    @media screen and (max-width: $break-medium) {
      width: 100%;
      margin: 0;
    }
  }
}

// dropdown
.container-dropdown {
  &.call-out {
    .erxes-form-content {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .erxes-callout-body {
        margin-bottom: 0;
        margin-right: 20px;
        width: auto;
      }
    
      .btn.btn-block {
        width: auto;
      }
    }
  }
}

// slide in
.container-slide-in-left,
.container-slide-in-right {
  max-width: 380px;

  .erxes-form {
    background: $white;
    user-select: none;
  }
}

// shoutbox form
.container-shoutbox {
  display: block;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 96px;
  max-width: 416px;

  .erxes-form {
    user-select: none;
    box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    margin-right: 20px;
    animation: fadeInUp;
    -webkit-animation: fadeInUp;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .erxes-launcher {
    bottom: 20px;
    right: 20px;
    animation: bounceIn;
    -webkit-animation: bounceIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
