// shoutbox form
.shoutbox-form {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  margin: 0;
  position: fixed;
  width: 370px;
  background: $white;
  box-shadow: 0 5px 15px -3px rgba($black, 0.15);
  z-index: 999999999;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 90px);
  border-radius: 4px;
  overflow: hidden;
  right: 8px;
  bottom: 86px;
}

// modal form

.modal-form {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  @include prefix((
    transition: opacity .15s linear
  ), webkit moz ms o);

  .erxes-form {
    margin: 50px auto;
    width: 500px;
    @include prefix((
      transition: transform 0.3s ease
    ), webkit moz ms o);

    @include prefix((
      transform: translate(0,-25%)
    ), webkit moz ms o);
  }

  &.open {
    background-color: #000; /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
    opacity: 1;

    .erxes-form {
      @include prefix((
        transform: translate(0,0)
      ), webkit moz ms o);
    }

    .close {
      @include prefix((
        transform: translate(0,0)
      ), webkit moz ms o);
    }
  }

  .close {
    outline: 0;
    position: absolute;
    right: 50%;
    margin-right: -237px;
    top: 58px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: $border-radius;
    background: url($icon-close) no-repeat 50%;
    z-index: 9999999999;

    @include prefix((
      transition: all 0.3s ease-in-out
    ), webkit moz ms o);

    @include prefix((
      transform: translate(0,-25%)
    ), webkit moz ms o);

    &:hover {
      cursor: pointer;
      background-color: rgba($black, .2);
    }
  }
}

.erxes-form {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .erxes-form-content {
    background-color: $bg-color;
    overflow: auto;
    padding: 20px;
    margin: 0;
    flex: 1;
    list-style: none;
    position: relative;

    .btn {
      background: $main-color;
      outline: 0;
      border: 0;
      border-radius: $border-radius;
      color: $white;
      padding: 10px 20px;
      cursor: pointer;
      @include prefix((
        transition: background 0.3s ease-in-out
      ), webkit moz ms o);

      &:focus,
      &:hover {
        background: darken($main-color, 10%);
      }

      &.btn-block {
        width: 100%;
        display: block;
      }
    }
  }

  .form-group {
    margin-bottom: 15px;

    .control-label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 500;

      > .required {
        margin-left: 4px;
      }
    }

    .form-control {
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      line-height: 1.42857143;
      background-color: #fff;
      background-image: none;
      border: 1px solid $border-color;
      outline: 0;
      color: lighten($black, 10%);
      border-radius: $border-radius;
      @include prefix((
        transition: all 0.3s ease-in-out
      ), webkit moz ms o);
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;

      &[type="checkbox"] {
        display: inline-block;
        width: inherit;
        height: inherit;
        margin: 3px 8px 3px 0;
      }

      &:focus {
        border-color: lighten($main-color, 20%)
      }
    }

    textarea.form-control {
      height: auto;
      min-height: 70px;
    }

    .error {
      color: $red;
      font-size: 12px;
      margin-left: 4px;
    }
  }

  .erxes-result {
    text-align: center;
    color: $text-color;

    button {
      border: none;
      outline: 0;
      display: block;
      margin: 10px auto 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}