@import 'tailwindcss' source(none);
@source '.';
@source '../../libs/';
@source '../../plugins/';

@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --font-*: initial;
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 0.875rem;
  --text-sm: 0.8125rem;
  --text-sm--line-height: 1rem;
  --text-base: 0.875rem;
  --text-base--line-height: 1.125rem;
  --text-lg: 1rem;
  --text-lg--line-height: 1.125rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.75rem;

  --color-border: var(--border);
  --color-scroll: var(--scroll);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-info: var(--info);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-sidebar: var(--sidebar-background);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --spacing-cell: 33px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-spinner: spinner 0.96s linear infinite;

  --shadow-focus: 0px 0px 0px 4px rgba(79, 70, 229, 0.25),
    0px 0px 0px 1px var(--primary);
  --shadow-subtle: 0px 0px 0px 1px var(--primary);
  --shadow-destructive: 0px 0px 0px 1px var(--destructive);
  --shadow-focus-destructive: 0px 0px 0px 4px oklch(0.6334 0.2103 25.32 / 25%),
    0px 0px 0px 1px var(--destructive);
  --shadow-xs: 0 0 0 1px var(--border-shadow), 0 1px 1px var(--shadow),
    0 2px 2px var(--shadow);
  --shadow-sm: 0 0 0 1px var(--border-shadow), 0 1px 1px var(--shadow),
    0 2px 2px var(--shadow), 0 4px 4px var(--shadow);
  --shadow-lg: 0 0 0 1px var(--border-shadow), 0 1px 1px var(--shadow),
    0 2px 2px var(--shadow), 0 4px 4px var(--shadow), 0 8px 8px var(--shadow);
  --shadow-xl: 0 0 0 1px var(--border-shadow), 0 1px 1px var(--shadow),
    0 2px 2px var(--shadow), 0 4px 4px var(--shadow), 0 8px 8px var(--shadow),
    0 16px 16px var(--shadow);

  --ring-color: var(--ring);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes spinner {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.15;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility hide-scroll {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility styled-scroll {
  /* Custom scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 10px;
    border: 3px solid var(--background);
  }

  /* Custom scrollbar for IE, Edge and Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}

@utility block-child {
  & > * {
    @apply block!;
  }
}

@layer base {
  :root {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    --background: oklch(1 0 0);
    --foreground: oklch(0.2102 0.006 285.87);

    --primary: oklch(0.514 0.2276 276.98);
    --primary-foreground: oklch(0.9848 0 0);

    --secondary: oklch(0.8372 0.0563 288.17);
    --muted: oklch(0.9619 0 0);
    --muted-foreground: oklch(0.5509 0.0057 17.33);

    --accent: oklch(0.9688 0.0008 286.38);
    --accent-foreground: oklch(0.7258 0.0074 286.21);

    --destructive: oklch(0.6368 0.2078 25.33);
    --destructive-foreground: oklch(0.9848 0 0);

    --success: oklch(0.7205 0.192 149.49);
    --warning: oklch(0.7453 0.1322 54.63);
    --info: oklch(0.6261 0.1859 259.6);

    --scroll: oklch(0.8634 0.0059 286.27);
    --border: oklch(0.9197 0.0041 286.32);
    --input: oklch(0.9197 0.0041 286.32);
    --ring: oklch(0.5146 0.2296 277.59);
    --radius: 0.5rem;
    --sidebar-background: oklch(0.9848 0 0);
    --shadow: oklch(0 0 0 / 5%);
    --border-shadow: oklch(0 0 0 / 5%);
    --spacing: 0.25rem;

    /* Charts */
    --chart-1: oklch(0.811 0.111 293.571);
    --chart-2: oklch(0.606 0.25 292.717);
    --chart-3: oklch(0.541 0.281 293.009);
    --chart-4: oklch(0.491 0.27 292.581);
    --chart-5: oklch(0.432 0.232 292.759);
  }

  .dark {
    --background: oklch(0.2044 0 0);
    --foreground: oklch(0.9761 0.0012 286.38);

    --primary: oklch(0.514 0.2276 276.98);
    --primary-foreground: oklch(0.9848 0 0);

    --secondary: oklch(0.2219 0.0798 280.68);
    --muted: oklch(0.2591 0 0);
    --muted-foreground: oklch(0.7132 0.0043 17.26);

    --accent: oklch(0.245 0.0037 286.12);
    --accent-foreground: oklch(0.5278 0.0102 286.05);

    --destructive: oklch(0.6368 0.2078 25.33);
    --destructive-foreground: oklch(0.98 0.01 257);

    --success: oklch(0.7205 0.192 149.49);
    --warning: oklch(0.7453 0.1322 54.63);
    --info: oklch(0.6261 0.1859 259.6);

    --scroll: oklch(0.3701 0.0113 285.84);
    --border: oklch(0.28 0.0104 285.76);
    --input: oklch(0.28 0.0104 285.76);
    --ring: oklch(0.514 0.2276 276.98);
    --sidebar-background: oklch(0.2267 0 0);
    --border-shadow: oklch(0.9761 0.0012 286.38 / 8%);
    --shadow: oklch(0 0 0 / 5%);

    --chart-1: oklch(0.811 0.111 293.571);
    --chart-2: oklch(0.606 0.25 292.717);
    --chart-3: oklch(0.541 0.281 293.009);
    --chart-4: oklch(0.491 0.27 292.581);
    --chart-5: oklch(0.432 0.232 292.759);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-base font-bold;
  }
}

.bn-shadcn {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 243 75% 59%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 243 75% 59%;
}

.bn-shadcn.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 234.5 89.5% 73.9%;
}

.bn-inline-content:has(> .ProseMirror-trailingBreak:only-child):before {
  font-style: normal;
}

.bn-editor {
  padding-inline: 36px;
  min-height: 100%;
  height: 100%;
}

.bn-shadcn .bn-editor {
  background-color: transparent;
}

.bn-default-styles {
  font-size: inherit;
}

.bn-editor [class^='_inlineContent']:before {
  color: var(--muted-foreground);
  font-style: normal !important;
}

.bn-editor .bn-inline-content:has(> .ProseMirror-trailingBreak):before {
  font-style: normal;
}

.bn-editor .bn-container .bn-drag-handle {
  width: 20px;
  height: 20px;
}

.bn-editor .bn-block-content[data-content-type='checkListItem'] > div > div {
  display: flex;
  align-items: center;
}

.bn-editor .bn-drag-handle-menu {
  background: var(--background);
  backdrop-filter: var(--blur-medium);
  box-shadow: var(--shadow-medium);
  min-width: 160px;
  min-height: 96px;
  padding: 4px;
  border: 1px solid var(--border);
  left: 26px;
}

.bn-editor .bn-container .bn-suggestion-menu-item:hover {
  background-color: var(--primary);
}

.bn-editor .bn-container .bn-suggestion-menu {
  padding: 4px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: var(--background);
  backdrop-filter: var(--blur-medium);
}

.bn-editor .bn-color-picker-dropdown {
  margin-left: 8px;
}

.bn-editor .bn-inline-content code {
  font-family: monospace;
  color: var(--font-color-danger);
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid var(--font-color-extra-light);
  font-size: 0.9rem;
  background-color: var(--background-transparent-light);
}

.bn-toolbar.bn-formatting-toolbar {
  padding: 2px;
  gap: 2px;
}

.bn-toolbar.bn-formatting-toolbar button {
  height: 28px;
  padding: 4px 7px;
  font-size: 13px;
  outline: none;
}

.read-only.bn-shadcn .bn-editor {
  background-color: transparent;
  padding-inline: 0;
}

.bn-side-menu {
  height: 26px;
}

[data-content-type='heading'] {
  --level: 24px;
}
[data-content-type='heading'][data-level='2'] {
  --level: 20px;
}

[data-content-type='heading'][data-level='3'] {
  --level: 16px;
}
