@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --font-*: initial;
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 0.875rem;
  --text-sm: 0.8125rem;
  --text-sm--line-height: 1rem;
  --text-base: 0.875rem;
  --text-base--line-height: 1.125rem;
  --text-lg: 1rem;
  --text-lg--line-height: 1.125rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.75rem;

  --color-border: var(--border);
  --color-scroll: var(--scroll);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-info: var(--info);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-sidebar: var(--sidebar-background);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --spacing-cell: 33px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-spinner: spinner 0.96s linear infinite;

  --shadow-focus: 0px 0px 0px 4px rgba(79, 70, 229, 0.25),
    0px 0px 0px 1px var(--primary);
  --shadow-subtle: 0px 0px 0px 1px var(--primary);
  --shadow-destructive: 0px 0px 0px 1px var(--destructive);
  --shadow-xs: 0 0 0 1px var(--border-shadow), 0 1px 1px var(--shadow),
    0 2px 2px var(--shadow);
  --shadow-sm: 0 0 0 1px var(--border-shadow), 0 1px 1px var(--shadow),
    0 2px 2px var(--shadow), 0 4px 4px var(--shadow);
  --shadow-lg: 0 0 0 1px var(--border-shadow), 0 1px 1px var(--shadow),
    0 2px 2px var(--shadow), 0 4px 4px var(--shadow), 0 8px 8px var(--shadow);
  --shadow-xl: 0 0 0 1px var(--border-shadow), 0 1px 1px var(--shadow),
    0 2px 2px var(--shadow), 0 4px 4px var(--shadow), 0 8px 8px var(--shadow),
    0 16px 16px var(--shadow);

  --ring-color: var(--ring);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes spinner {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.15;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility hide-scroll {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility styled-scroll {
  /* Custom scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 10px;
    border: 3px solid var(--background);
  }

  /* Custom scrollbar for IE, Edge and Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}

@utility block-child {
  & > * {
    @apply block!;
  }
}

@layer base {
  :root {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    --background: oklch(1 0 0);
    --foreground: oklch(0.2102 0.006 285.87);

    --primary: oklch(0.514 0.2276 276.98);
    --primary-foreground: oklch(0.9848 0 0);

    --secondary: oklch(0.8372 0.0563 288.17);
    --muted: oklch(0.9619 0 0);
    --muted-foreground: oklch(0.5509 0.0057 17.33);

    --accent: oklch(0.9688 0.0008 286.38);
    --accent-foreground: oklch(0.7258 0.0074 286.21);

    --destructive: oklch(0.65 0.23 27);
    --destructive-foreground: oklch(0.98 0.01 257);

    --success: oklch(0.75 0.26 145);
    --warning: oklch(0.81 0.19 75);
    --info: oklch(0.67 0.2 254);

    --scroll: oklch(0.83 0.01 257);
    --border: oklch(0.9 0.01 257);
    --input: oklch(0.9 0.01 257);
    --ring: oklch(0.59 0.22 272);
    --radius: 0.5rem;
    --sidebar-background: oklch(0.9848 0 0);
    --shadow: oklch(0 0 0 / 5%);
    --border-shadow: oklch(0 0 0 / 5%);
    --spacing: 0.25rem;

    /* Charts */
    --chart-1: oklch(0.63 0.14 70);
    --chart-2: oklch(0.64 0.12 190);
    --chart-3: oklch(0.53 0.09 255);
    --chart-4: oklch(0.78 0.14 125);
    --chart-5: oklch(0.75 0.15 105);
  }

  .dark {
    --background: oklch(0.09 0.01 257);
    --foreground: oklch(0.97 0.01 257);

    --primary: oklch(0.61 0.23 273);
    --primary-foreground: oklch(0.98 0.01 257);

    --secondary: oklch(0.23 0.07 270);
    --muted: oklch(0.14 0.02 257);
    --muted-foreground: oklch(0.64 0.02 257);

    --accent: oklch(0.13 0.02 257);
    --accent-foreground: oklch(0.43 0.02 257);

    --destructive: oklch(0.65 0.23 27);
    --destructive-foreground: oklch(0.98 0.01 257);

    --success: oklch(0.75 0.26 145);
    --warning: oklch(0.81 0.19 75);
    --info: oklch(0.67 0.2 254);

    --scroll: oklch(0.26 0.01 257);
    --border: oklch(0.19 0.01 257);
    --input: oklch(0.19 0.01 257);
    --ring: oklch(0.55 0.22 272);
    --radius: 0.5rem;
    --sidebar-background: oklch(0.11 0.01 257);
    --border-shadow: 0, 0%, 0%, 0.08;
    --shadow: 0, 0%, 0%, 0.05;

    --chart-1: oklch(0.47 0.21 274);
    --chart-2: oklch(0.66 0.18 180);
    --chart-3: oklch(0.74 0.15 105);
    --chart-4: oklch(0.59 0.22 315);
    --chart-5: oklch(0.56 0.22 25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-base font-bold;
  }
}
