@import 'client/sass/variables';
@import 'client/sass/mixin';

@import 'client/sass/base/base';

@import 'client/sass/components/launcher';
@import 'client/sass/components/topbar';
@import 'client/sass/components/faq-icons';

@import 'components/topbar';
@import 'components/home';
@import 'components/messenger';
@import 'components/conversations';
@import 'components/messages';
@import 'components/faq';
@import 'components/lead';
@import 'components/message-sender';
@import 'components/notification';
@import 'components/bot';
@import 'components/skill';
