.auth-layout {
  background: url("/assets/images/sign-in.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    background-color: rgba($main-color, .7);
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.auth-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.auth-description {
  margin-top: 60px;

  img {
    width: 100px;
    margin-bottom: 50px;
  }

  h1 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
    color: $white;
  }

  p {
    color: lighten($main-color, 50%);
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.8em;
  }

  a {
    color: lighten($main-color, 50%);
  }

  &.not-found {
    margin-top: 0;
  }
}

.auth-box {
  background-color: $white;
  padding: 70px 60px;
  border-radius: $border-radius;
  box-shadow: 0 0 15px rgba($black, .5);

  ::-webkit-input-placeholder {
    color: #6b60a6;
  }

  h2 {
    color: #6b60a6;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 50px;
  }

  input {
    border: 0;
    border-bottom: 1px solid lighten($main-color, 40%);
    padding: 0 0 6px;
    color: #6b60a6;
    border-radius: 0;
    font-size: 16px;
  }

  button {
    @include transition(background .2s ease);
    background-color: #6b60a6;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 50px;
    border: 0;

    &:hover,
    &.active.focus,
    &.active:focus,
    &.focus,
    &:active.focus,
    &:active:focus,
    &:focus {
      background-color: lighten(#6b60a6, 10%);
      color: $white;
    }
  }

  .links {
    margin-top: 70px;
    text-align: center;
  }
}
