.form-control {
  box-shadow: none;
  border-radius: $border-radius;
  border-color: $grey-dark;
  padding: 18px 14px;

  &:focus {
    box-shadow: none;
    border-color: $main-color;
  }

  &[type='color'] {
    padding: 0;
  }
}

.form-group {
  margin-bottom: 20px;
}
