.modal-backdrop {
  background-color: darken($main-color, 25%);

  &.in {
    opacity: .6;
  }
}

.modal-dialog {
  margin: 50px auto;
}

.modal-content {
  border-radius: $border-radius;
  border: 0;
  box-shadow: $box-shadow;
}

.modal-header {
  padding: 30px 40px 0;
  border: 0;
  border-radius: $border-radius $border-radius 0 0;

  .close {
    margin-top: 0;
  }
}

.modal-title {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid $grey;
  padding-bottom: 30px;
}

.modal-body {
  padding: 30px 40px;
}

.modal-footer {
  padding: 20px 0 0;
  margin-top: 40px;
  border-color: $grey;
}

.close {
  font-weight: 300;
  text-shadow: none;
  color: $text-color;
  opacity: .5;

  &:hover {
    color: $text-color;
    opacity: .8;
  }
}

// .form-control {
//   box-shadow: none;
//   border: 0;
//   border-bottom: 2px solid $grey;
//   border-radius: 0;
//   padding: 6px 0;

//   &:focus {
//     box-shadow: none;
//     border-color: $grey-dark;
//   }
// }
