.react-selectize {
  &.root-node {
    position: relative;

    &.disabled {
      pointer-events: none;
    }

    .react-selectize-control {
      cursor: pointer;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: box;
      display: flex;
      -webkit-box-align: start;
      -moz-box-align: start;
      -o-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      position: relative;
      padding: 2px;

      .react-selectize-placeholder {
        display: block;
        line-height: 30px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        position: absolute;
        max-width: calc(100% - 56px);
      }

      .react-selectize-search-field-and-selected-values {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        min-height: 30px;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -o-box-flex: 1;
        -ms-box-flex: 1;
        box-flex: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        -o-box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .resizable-input {
          background: none;
          border: none;
          outline: none;
          font-size: 1em;
          margin: 2px;
          padding: 4px 0px;
          vertical-align: middle;
          width: 0px;
        }

        .value-wrapper {
          display: -webkit-box;
          display: -moz-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: box;
          display: flex;
          -webkit-box-align: center;
          -moz-box-align: center;
          -o-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
      }

      .react-selectize-reset-button-container, .react-selectize-toggle-button-container {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -o-box-flex: 0;
        -ms-box-flex: 0;
        box-flex: 0;
        -webkit-flex-grow: 0;
        flex-grow: 0;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        cursor: pointer;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        height: 30px;
      }

      .react-selectize-reset-button-container {
        width: 16px;
      }

      .react-selectize-toggle-button-container {
        width: 32px;
      }

      .react-selectize-reset-button-container:hover .react-selectize-reset-button path {
        stroke: #c0392b;
      }

      .react-selectize-reset-button path {
        -webkit-transition: stroke 0.5s 0s ease;
        -moz-transition: stroke 0.5s 0s ease;
        -o-transition: stroke 0.5s 0s ease;
        -ms-transition: stroke 0.5s 0s ease;
        transition: stroke 0.5s 0s ease;
        stroke: #999;
        stroke-linecap: square;
        stroke-linejoin: mitter;
      }

      .react-selectize-toggle-button path {
        fill: #999;
      }
    }
  }

  &.dropdown-menu-wrapper {
    position: absolute;

    &.tethered {
      min-width: 300px;
    }

    &:not(.tethered) {
      width: 100%;
    }
  }

  &.dropdown-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    position: absolute;
    max-height: 200px;
    z-index: 10;

    &.tethered {
      min-width: 300px;
    }

    &:not(.tethered) {
      width: 100%;
    }

    .groups.as-columns {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: box;
      display: flex;

      > div {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
    }

    .option-wrapper {
      cursor: pointer;
      outline: none;
    }
  }
}

.multi-select.react-selectize.root-node .simple-value {
  display: inline-block;
  margin: 2px;
  vertical-align: middle;

  span {
    display: inline-block;
    padding: 2px 10px;
    vertical-align: center;
  }
}

.simple-select.react-selectize.root-node .simple-value {
  margin: 2px;

  span {
    display: inline-block;
    vertical-align: center;
  }
}

.react-selectize {
  &.default {
    &.root-node {
      .react-selectize-control {
        background-color: #fff;
        border: 1px solid;
        border-color: #d9d9d9 #ccc #b3b3b3;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        font-size: 1em;

        .react-selectize-placeholder {
          color: #aaa;
          text-indent: 8px;
        }

        .react-selectize-search-field-and-selected-values {
          padding-left: 5px;
        }
      }

      &.open {
        &.flipped .react-selectize-control {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }

        &:not(.flipped) .react-selectize-control {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
    }
  }

  &.dropdown-menu-wrapper.default {
    overflow: hidden;

    .dropdown-menu {
      &.custom-enter-active, &.custom-leave-active {
        -webkit-transition: -webkit-transform 0.2s 0s ease;
        -moz-transition: -moz-transform 0.2s 0s ease;
        -o-transition: -o-transform 0.2s 0s ease;
        -ms-transition: -ms-transform 0.2s 0s ease;
        transition: transform 0.2s 0s ease;
      }

      &.flipped {
        &.custom-enter {
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -o-transform: translateY(100%);
          -ms-transform: translateY(100%);
          transform: translateY(100%);
        }

        &.custom-enter-active, &.custom-leave {
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -o-transform: translateY(0%);
          -ms-transform: translateY(0%);
          transform: translateY(0%);
        }

        &.custom-leave-active {
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -o-transform: translateY(100%);
          -ms-transform: translateY(100%);
          transform: translateY(100%);
        }
      }

      &:not(.flipped) {
        &.custom-enter {
          -webkit-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          -o-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          transform: translateY(-100%);
        }

        &.custom-enter-active, &.custom-leave {
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -o-transform: translateY(0%);
          -ms-transform: translateY(0%);
          transform: translateY(0%);
        }

        &.custom-leave-active {
          -webkit-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          -o-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          transform: translateY(-100%);
        }
      }
    }
  }

  &.dropdown-menu.default {
    background: #fff;
    border: 1px solid #ccc;
    margin-top: -1px;

    &.flipped {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:not(.flipped) {
      border-color: #b3b3b3 #ccc #d9d9d9;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .no-results-found {
      color: #aaa !important;
      font-style: oblique;
      padding: 8px 10px;
    }

    .simple-group-title {
      background-color: $grey-light;
      font-weight: bold;
      padding: 8px 8px;
    }

    .option-wrapper {
      &.highlight {
        background: #f2f9fc;
        color: #333;
      }

      .simple-option {
        color: #666;
        cursor: pointer;
        padding: 8px 10px;

        &.not-selectable {
          background-color: #f8f8f8;
          color: #999;
          cursor: default;
          font-style: oblique;
          text-shadow: 0px 1px 0px #fff;
        }

        .kind {
          color: #aaa;
          font-style: italic;
        }

        .channel-round {
          width: 20px;
          height: 20px;
          float: right;
          border-radius: 10px;
          background: $main-color;
          text-align: center;
          font-size: 10px;
          color: $white;
          line-height: 20px;
        }
      }
    }
  }
}

.multi-select.react-selectize.default.root-node .simple-value {
  background: #f2f9fc;
  border: 1px solid #c9e6f2;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #08c;
}

.simple-select.react-selectize.default.root-node {
  &.open .react-selectize-control {
    background-color: #fff;
  }

  &:not(.open) .react-selectize-control {
    background-color: #f9f9f9;
    background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: -ms-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
  }
}
