.integration-item {
  .checkbox {
    margin-top: 0;
  }
}

.notification-settings {
  ul {
    padding-left: 30px;
    list-style: none;

  }
}

.integration-menu li a {
  display: block;
  padding: 5px 20px;
  color: #333;
  white-space: nowrap;
  line-height: 1.42857143;
  font-weight: 400;
}
