.sidebar {
  overflow-y: auto;

  &.narrow {
    width: $sidebar-width-narrow;
  }

  &.medium {
    width: $sidebar-width-medium;
  }

  &.wide {
    width: $sidebar-width-wide;
  }

  .section {
    background-color: $white;
    border-radius: $border-radius;
    margin-bottom: $box-margin;
    padding-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    color: $text-color-light;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px;
    margin: 0;

    .quick-button {
      float: right;
      color: $text-color-light;
      text-transform: none;

      &:hover {
        color: $text-color;
      }

      i {
        font-size: 14px;
      }
    }
  }

  .filters {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;

      > a {
        display: block;
        padding: 5px 20px;
        color: $text-color;

        &:hover, &.active {
          background-color: $grey-light;
        }
      }

      .icon {
        margin-right: 6px;
        color: $text-color-light;
      }

      .counter {
        font-size: 12px;
        text-align: right;
        color: $text-color-light;
        margin-top: 2px;
        position: absolute;
        right: 20px;
      }
    }

    &.no-link {
      li {
        display: block;
        padding: 5px 20px;
        color: $text-color;
      }
    }
  }

  .action-btn {
    width: 100%;
    margin-bottom: $box-margin;
  }
}

.sidebar-accordion {
  background: $grey-light;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  margin-bottom: 10px;

  .popover-header {
    background: none;
  }

  .popover-list {
    max-height: none;
  }
}
