.tags {
  .label {
    display: inline-block;
    margin-right: 4px;

    &.small {
      font-size: 10px;
    }

    &.medium {
      font-size: 13px;
    }

    &.large {
      font-size: 16px;
    }
  }
}

.actions .tags {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.tags-area {
  max-height: 250px;
}
