.paginate-wrapper {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;

  .paginate-button {
    text-align: center;
    margin-top: auto;

    >.btn {
      width: 100%;
      border: none;
      border-top: 1px solid #ddd;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      color: $text-color-light;
      border-radius: 0;
    }
  }
}
