.erxes-widget-kb {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: $font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0;
  padding-top: 85px;
  button,
  input,
  textarea {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }
}
