{
  "extends": [
    "airbnb"
  ],
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
