{
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "import/no-absolute-path": 0,

    // use temporarily these rules because meteor packages can't be resolved
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0
  },
  "settings": {
    "import/resolver": "meteor",
  },
  "globals": {
    "Package": false,
    "Npm": false,
    "Mixins": false
  }
}
