{
  "extends": [
    "airbnb"
  ],
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
    }
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/require-default-props": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "globals": {
    "window": true,
    "localStorage": true,
    "$": true,
    "document": true,
  },
  "env": {
    "es6": true,
  }
}
