.DS_Store
node_modules
/node_modules
dist
.next
out
.env
*.un~
*.swp
*.swo
*.log
build
.env.local
.env.development.local
.env.development
.env.test.local
.env.production.local
package-lock.json
dump.rdb
oplog.timestamp
dump
gitinfo.json
ecosystem.config.js
src/private/xlsTemplateOutputs
src/private/uploads
engages-email-sender/src/__tests__/coverage/
widgets/static
*.js.map
tsconfig.tsbuildinfo
packages/plugin*/.erxes
packages/core-ui/public/js/plugins.js
/api/src/__tests__/coverage

/enabled-services.js
cli/permissions.json
cli/enabled-services.js
cli/configs.json
essyncer/plugins.json
packages/core/src/private/uploads/
