{
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  },
  "settings": {
    "import/resolver": "meteor",
  },
  "globals": {
    "Package": false,
    "Npm": false,
    "Mixins": false
  }
}
