@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 0 0% 88%;
    --input: 0 0% 88%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 257 63% 44%;
    --primary-foreground: 210 40% 98%;
    --primary-light: 	254 55% 64%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --warning: 40 100% 50%;
    --warning-foreground: 43 96% 80%;

    --success: 140 50% 85%;
    --success-foreground: 141 77% 42%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

.slick-prev {
  left: 10px !important;
  z-index: 1;
  padding: 1px !important;
  border-radius: 999px !important;
  background: black !important;
}

.slick-next {
  right: 10px !important;
  z-index: 1;
  padding: 1px !important;
  border-radius: 999px !important;
  background: black !important;
}

.slick-dots {
  bottom: 0 !important;
}

.slick-dots li {
  margin: 0 !important;
  width: 15px !important;
}

.slick-dots li button:before {
  color: #fff !important;
  font-size: 8px !important;
}

.p-1px {
  padding: 1px;
}

.bg-black\/25 {
  background-color: rgb(0 0 0 / 0.25);
}

.bg-success {
  background-color: hsl(var(--success));
}

.bg-success-foreground {
  background-color: hsl(var(--success-foreground));
}

.text-success-foreground {
  color: hsl(var(--success-foreground));
}

.text-primary-light {
  color: hsl(var(--primary-light));
}

.bg-primary-light {
  background-color: hsl(var(--primary-light));
}

.chat-list-max-height {
  max-height: calc(100vh - 230px);
}
.chat-list-search-max-height {
  max-height: calc(100vh - 195px);
}

.user-shared-files-max-height {
  max-height: calc(100vh - 510px);
}
.group-shared-files-max-height {
  max-height: calc(100vh - 460px);
}

.w-300 {
  width: 300px;
}

.css-13cymwt-control{
  border-radius: 8px !important;
}

.css-t3ipsp-control {
  border-radius: 8px !important;
  border-color: hsl(0, 0%, 80%) !important;
  box-shadow: none !important;
}

.css-1p3m7a8-multiValue {
  background-color: rgba(238, 216, 255, 1) !important;
  border-radius: 5px !important;
}
.css-1p3m7a8-multiValue svg{
  background-color: rgba(245, 246, 255, 1);
  border-radius: 50%;
  color: rgba(238, 216, 255, 1);
}
.gap-0 {
  gap: 0;
}
.max-h-\[60vh\] {
  max-height: 60vh;
}
.w-message {
  width: calc(75% - 90px);
}