{
    "apps": [
    {
        "name": "erxes",
        "cwd": "erxes",
        "script": "build",
        "log_date_format": "YYYY-MM-DD HH:mm Z",
        "interpreter": "serve",
        "args": "-s -l 3000"
    },
    {
        "name": "erxes-api",
        "cwd": "erxes-api",
        "script": "dist",
        "log_date_format": "YYYY-MM-DD HH:mm Z"
    },
    {
        "name": "erxes-widgets",
        "cwd": "erxes-widgets",
        "script": "dist",
        "log_date_format": "YYYY-MM-DD HH:mm Z"
    },
    {
        "name": "erxes-widgets-api",
        "cwd": "erxes-widgets-api",
        "script": "dist",
        "log_date_format": "YYYY-MM-DD HH:mm Z"
    }
    ]
}