.erxes-widget {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  button, input, textarea {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }
}
