@include keyframe(animationPulse) {
  0% {
    box-shadow: 0 0 0 0;
    opacity: .5;
  }

  40% {
    box-shadow: 0 0 0 8px;
    opacity: 0;
  }

  80% {
    box-shadow: 0 0 0 8px;
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 0;
    opacity: 0;
  }
}