@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic-ext');

// Colors
$main-color: #7754b3;
$bg-color: #faf9fb;
$white: #fff;
$black: #000;
$red: #f74040;
$grey: #f5f4f6;
$grey-light: #eee;
$text-color: #686868;
$text-color-light: #888;
$border-color: #ddd;


// Dimensions
$border-radius: 4px;
