.erxes-topbar {
  background: $main-color;
  overflow: hidden;
  width: 100%;
  height: 70px;
  text-align: center;
  flex-shrink: 0;
  color: $white;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  .erxes-middle {
    display: inline-block;
  }
}

.erxes-topbar-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 18px;

  span {
    font-size: 14px;
    font-weight: 300;
  }
}
