<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      [data-erxes-embed] {
        width: 100%;
        height: 500px;
      }
    </style>
  </head>
  <body>
    <div data-erxes-embed></div>
    <div data-erxes-modal>Contact us</div>
    <div data-erxes-modal>Contact us second handler</div>

    <!-- script include snippet here -->
    <script>
        window.erxesSettings = {
          brand_id: 'YDEdKj',
          email: 'customer@gmail.com',
        };
       (function() {
         var script = document.createElement('script');
         script.src = "http://localhost:8080/build/<%= type %>Widget.bundle.js";
         script.async = true;

         var entry = document.getElementsByTagName('script')[0];
         entry.parentNode.insertBefore(script, entry);
       })();
     </script>
  </body>
</html>
