.erxes-form {
  font-size: $font-size;
  margin: 0;
  overflow: hidden;

  .erxes-form-content {
    list-style: none;
    margin: 0;
    padding: 0 20px 20px;
    position: relative;

    .erxes-description {
      color: lighten($black, 36%);
      margin-bottom: 10px;
    }
  }

  .erxes-result {
    color: $text-color;

    p {
      margin: 0;
    }
  }

  .erxes-button {
    box-shadow: 0 5px 15px 3px rgba($black, 0.1);
    margin-top: 15px;

    &:hover,
    &:focus {
      box-shadow: 0 5px 20px 5px rgba($black, 0.1);
    }
  }

  .react-datepicker__input-container {
    display: block;
  }
}

// datepicker

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker {
  border-color: $border-color !important;
  box-shadow: 0 5px 15px -3px rgba($black, 0.15);

  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: $main-color;
    border-radius: calc($border-radius / 2);

    &:hover {
      background-color: darken($main-color, 10%);
    }
  }

  .react-datepicker__header {
    background: $bg-color;
    border-color: $border-color;

    .react-datepicker__current-month,
    .react-datepicker-time__header {
      font-weight: 500;
    }
  }

  .react-datepicker__triangle {
    border-bottom-color: $bg-color !important;

    &::before {
      border-bottom-color: $border-color !important;
    }
  }
}

.custom-select {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-family: Arial, sans-serif;
  width: 200px;
}

.custom-select select {
  display: none; /* Hide the default select element */
}

/* Style for the visible part of the select */
.custom-select .select-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* Style for the dropdown options */
.custom-select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.custom-select .select-option {
  padding: 10px;
  cursor: pointer;
}

/* Show the options when the select is open */
.custom-select.open .select-options {
  display: block;
}
