<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Knowledge base test</title>
    <style>
      [data-erxes-embed] {
        width: 100%;
        height: 900px;
        position: relative;
      }
    </style>
  </head>
  <body>
    --++++++
    <div data-erxes-embed></div>
    <div data-erxes-modal>Contact us</div>
    <div data-erxes-modal>Contact us second handler</div>

    <!-- script include snippet here -->
    <script>
        window.erxesSettings = {
          knowledgeBase: {
            topic_id: "cPzyMXpJ9YZaZqrLc"
          },
        };
       (function() {
         var script = document.createElement('script');
         script.src = "/build/knowledgebaseWidget.bundle.js";
         script.async = true;

         var entry = document.getElementsByTagName('script')[0];
         entry.parentNode.insertBefore(script, entry);
       })();
     </script>
  </body>
</html>
