<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      [data-erxes-kbase] {
        height: 400px;
        min-height: 100%;
        position: relative;
        margin-top: 100px !important;
        margin-bottom: 100px !important;
      }

      .erxes-embed-iframe {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
        height: 500px !important;
      }
    </style>
  </head>
  <body>
    <div data-erxes-kbase></div>

    <script>
      window.erxesSettings = {
        forms: [{
          brand_id: "YDEdKj",
          form_id: "mRgzZw",
        }],
        messenger: {
          brand_id: "YDEdKj",
          email: "lombo@yahoo.com",
          companyData: {
            id: "123",
            name: "Intercorp",
            plan: "pro",
          }
        },
        knowledgeBase: {
          topic_id: "bxnJ8CFa5Snh69diH"
        },
      };

    (function() {
      var script = document.createElement('script');
      script.src = "build/formWidget.bundle.js";
      script.async = true;

      var entry = document.getElementsByTagName('script')[0];
      entry.parentNode.insertBefore(script, entry);
    })();
    </script>
  </body>
</html>