<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      [data-erxes-embed] {
        width: 60%;
        height: 400px;
        min-height: 100%;
        margin: 0 auto;
        position: relative;
      }
    </style>
  </head>
  <body>
    <div data-erxes-embed="PyvtddA7XMvSJugyq"></div>
    <button data-erxes-modal="PyvtddA7XMvSJugyq">Contact us</button>
    <div data-erxes-modal>Contact us second handler</div>
    <script>
      window.erxesSettings = {
        forms: [{
          brand_id: "Wtmpph",
          form_id: "PyvtddA7XMvSJugyq",
        }],
        messenger: {
          brand_id: "YDEdKj", // "ovCMBR",
          email: "lombo@yahoo.com",
          companyData: {
            id: "123",
            name: "Intercorp",
            plan: "pro",
          }
        },
      };
    (function() {
      var script = document.createElement('script');
      script.src = "build/messengerWidget.bundle.js";
      script.async = true;

      var entry = document.getElementsByTagName('script')[0];
      entry.parentNode.insertBefore(script, entry);
    })();

    (function() {
      var script = document.createElement('script');
      script.src = "build/formWidget.bundle.js";
      script.async = true;

      var entry = document.getElementsByTagName('script')[0];
      entry.parentNode.insertBefore(script, entry);
    })();
    </script>
  </body>
</html>
