<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
[data-erxes-embed] {
  width: 100%;
  height: 600px;
  position: relative;
}
    </style>
  </head>
  <body>
    <div data-erxes-embed></div>
    <div data-erxes-modal>Contact us</div>
    <div data-erxes-modal>Contact us second handler</div>
    <script>
      window.erxesSettings = {
        messenger: {
          brand_id: "YDEdKj",
          email: "lombo@yahoo.com",
          companyData: {
            id: "123",
            name: "Intercorp",
            plan: "pro",
          }
        },
      };
    (function() {
      var script = document.createElement('script');
      script.src = "build/messengerWidget.bundle.js";
      script.async = true;

      var entry = document.getElementsByTagName('script')[0];
      entry.parentNode.insertBefore(script, entry);
    })();
    </script>
  </body>
</html>
