.erxes-knowledge-container {
  max-width: 900px;
  margin: 0 auto;
  color: $text-color;
}

.erxes-content {
  padding: 25px;

  h1 {
    color: #333;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 40px;
  }
}

.erxes-kb-item {
  display: block;
  padding: 25px 35px;
  text-decoration: none;
  background: $white;
  margin-bottom: 25px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.07);
  transition: box-shadow 0.3s ease;

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 0;
    color: #555;
  }

  p {
    color: $text-color;
    line-height: 24px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 7px;
  }

  &.detail {
    padding: 50px 60px;

    h1 {
      color: #333;
      font-size: 30px;
      margin-top: 0;
      font-weight: normal;
    }

    .erxes-article-content {
      p {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 28px;
      }
    }

    .item-meta {
      margin-bottom: 20px;
      color: $text-color-light;
    }
  }

  &:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.13);
  }
}

.flex-item {
  display: flex;
  flex-direction: row;
  text-decoration: none;

  .topic-icon {
    flex-basis: 80px;
    align-self: center;
    text-align: center;
    margin-right: 25px;

    i {
      font-size: 42px;
      color: $text-color-light; 
    }
  }

  .topic-content {
    display: flex;
    flex-direction: column;
    color: $text-color;
    font-size: 16px;
  }

  &.spaced {
    margin-bottom: 25px;
  }

  .avatars {
    display: flex;
    margin-right: 10px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 18px;
      border: 2px solid $white;
      z-index: 6;

      &:nth-child(n+2) {
        margin-left: -13px;
      }

      &:nth-child(2) {
        z-index: 5;
        opacity: .7;
      }

      &:nth-child(3) {
        z-index: 4;
        opacity: .5;
      }

      &:nth-child(4) {
        z-index: 3;
        opacity: .4;
      }
    }
  }
}

.item-meta {
  color: $text-color;
  margin-top: 5px;
  font-size: 13px;

  span {
    color: darken($text-color, 10%);
  }
}

.back {
  display: block;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
  background: none;
  outline: 0;
  border: 0;
  color: $text-color;
  padding: 5px 0;

  i {
    margin-right: 5px;
  }

  &:hover {
    color: darken($text-color, 15%);
    cursor: pointer;
  }
}

.category-container {
  background: rgba(0, 0, 0, 0.044);
  padding: 25px;
  border-radius: $border-radius;
}
