$break-small: 415px;

.erxes-messenger {
  background: $white;
  border-radius: 4px;
  bottom: 86px;
  box-shadow: 0 5px 15px -3px rgba($black, .15);
  display: flex;
  flex-direction: column;
  height: calc(100% - 90px);
  max-height: 620px;
  overflow: hidden;
  position: absolute;
  right: 8px;
  @include prefix((
    opacity: 0
  ), webkit moz ms o);
  transition: opacity .3s ease-in-out, bottom .3s ease-in-out;
  visibility: hidden;
  width: calc(100% - 36px);
  z-index: 9998;

  @media screen and (max-width: $break-small) {
    bottom: 0;
    height: 100%;
    max-height: none;
    right: 0;
    width: 100%;
  }
}
