.erxes-searchbar {
  overflow: hidden;
  flex-shrink: 0;
  color: $white;
  padding: 25px;
  background: $main-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  input {
    display: block;
    padding: 16px 16px 16px 48px;
    border: none;
    background-color: $transparent-white;
    box-sizing : border-box;
    min-width: 100%;
    max-width: 100%;
    font-weight: normal;
    border-radius: $border-radius;
    outline: 0;
    color: $white;
    background-image: url($icon-search);
    background-position: 16px 14px;
    background-repeat: no-repeat;
    transition: background 0.3s;

    &:focus {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  .back {
    border-radius: $border-radius;
    width: 60px;
    height: 48px;
    display: block;
    background: $transparent-white url($icon-back) 24px center no-repeat;
    transition: background 0.3s;
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}
