PORT=4200
NODE_ENV=development
REACT_APP_CDN_HOST=http://localhost:3200
REACT_APP_API_URL=http://localhost:3300
REACT_APP_DASHBOARD_API_URL=http://localhost:4500
REACT_APP_API_SUBSCRIPTION_URL=ws://localhost:3300/subscriptions
REACT_APP_DASHBOARD_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJGT08iOiJiYXIiLCJpYXQiOjE1OTAzNzg1ODcsImV4cCI6MTkwNTk1NDU4N30.i-ny9_Beknkd5nmU83xUVlYteuyQuIUsz7rOXyFV5Ps