/* your custom css */
.headerTitleWithLogo {
  display: none !important;
}
.navigationSlider .slidingNav ul li a {
  background: #5629b6;
}
img {
  max-width: 100%;
}
.notice {
  background: #fef4f6;
  color: #f0506e;
  padding: 10px 20px;
  border-radius: 5px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  img.fl {
    float: left;
  }
  .hw {
    width: 49%;
  }
}

@media only screen and (max-width: 1023px) {
  .fixedHeaderContainer header {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .postHeaderTitle {
    margin-top: 20px !important;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
