/* your custom css */
.headerTitleWithLogo {
  display: none !important;
}

.navigationSlider .slidingNav ul li a {
  background: #5629b6;
}

.nav-site {
  background: #5629b6 !important;
}

img {
  max-width: 100%;
}

.notice {
  background: #fef4f6;
  color: #f0506e;
  padding: 10px 20px;
  border-radius: 5px;
}

.footer {
  padding: 20px;
  color: gray;
  font-size: 14px;
}

.footerLink {
  text-decoration: underline;
  color: gray;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  img.fl {
    float: left;
  }
  .hw {
    width: 49%;
  }
}

@media only screen and (max-width: 1023px) {
  .fixedHeaderContainer header {
    align-items: center;
    justify-content: center;
  }
  .postHeaderTitle {
    margin-top: 20px !important;
  }

  .navSearchWrapper {
    padding-top: 10px;
    padding-right: 10%;
    padding-top: 40px;
    width: 85%;
  }

  .navSearchWrapper::before {
    top: 55px;
  }

  .navSearchWrapper::after {
    top: 57px;
    left: 34px;
  }

  #search_input_react {
    height: 30px;
  }

  .navigationSlider .slidingNav ul li a {
    margin-top: 30px;
  }

  .docMainWrapper {
    margin-top: 30px;
  }

  .post {
    padding-top: 0px;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
