body {
  background-color: #f0f2f5;
}

#root {
  height: 100%;
}

/* ant */
.ant-btn-group button:first-child{
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.ant-btn-group button:last-child{
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

/* recharts */
.recharts-cartesian-grid-horizontal line {
  stroke-dasharray: 2, 2;
  stroke: #d0d0da;
}

.recharts-cartesian-axis-tick-value tspan {
  fill: #a1a1b5;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.recharts-tooltip-cursor {
  fill: rgba(204, 204, 204, 0.2);
}

.recharts-legend-item-text, .recharts-text {
  text-transform: capitalize;
}

.recharts-default-tooltip {
  border-radius: 4px;
  text-transform: capitalize;
}
