{
	"jwt_token_secret": "token",
	"dashboard": {
	},
	"elasticsearch": {},
	"redis": {
		"password": ""
	},
	"mongo": {
		"username": "",
		"password": ""
	},
	"rabbitmq": {
		"cookie": "",
		"user": "",
		"pass": "",
		"vhost": ""
	},
	"plugins": [
		{
			"name": "logs"
		}
	]
}