.erxes-messages-list {
  background-color: $bg-color;
  overflow: auto;
  padding: 20px;
  margin: 0;
  flex: 1;

  li {
    list-style: none;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    &.from-customer {
      text-align: right;
    }

    .date {
      font-size: 11px;
      color: $text-color;
      margin-left: 50px;
    }
  }
}

.message {
  padding: 12px 15px;
  background-color: $grey;
  border-radius: $border-radius;
  position: relative;
  margin: 0 20px 5px 50px;
  display: inline-block;
  word-wrap: break-word;
  color: $text-color;
  text-align: left;

  &.from-customer {
    margin: 0 0 5px 20px;
    background-color: $main-color;
    color: $white;
    text-align: right;

    .file-wrapper {
      border-color: $grey;
    }
  }

  &.attachment {
    padding: 0;
    background: none;
    border: 0;
  }

  p {
    margin-top: 0;
  }

  img {
    max-width: 240px;
    border-radius: $border-radius;
    background: lighten($grey, 10%);
    min-width: 60px;
    min-height: 30px;
  }
}

.file-wrapper {
  position: relative;
  padding: 16px 20px;
  border: 1px solid transparent;
  border-radius: $border-radius;
  padding-left: 40px;
  color: $text-color;
  background: lighten($grey, 10%);
  @include prefix((
    transition: border 0.3s ease-in-out
  ), webkit moz ms o);

  i {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 12px;
    line-height: 30px;
    color: $text-color;
    background-image: url($icon-file);
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: rtl;
    text-align: left;
    max-width: 140px;
    display: block;
  }

  &:hover {
    border-color: $grey;
  }
}

.download-attachment {
  display: block;
  text-decoration: none;

  img {
    @include prefix((
      transition: opacity 0.3s ease-in-out
    ), webkit moz ms o);

    &:hover {
      opacity: 0.8;
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 20px;

  img {
    width: 100%;
  }
}

.btn-resend {
  background: $white;
  outline: 0;
  border: 0;
  border-radius: $border-radius;
  color: $text-color;
  padding: 5px 15px;
  margin-top: 5px;
  cursor: pointer;

  &:focus,
  &:hover {
    background: lighten($grey, 10%);
  }
}
