.erxes-topbar {
  background: $main-color;
  overflow: hidden;
  width: 100%;
  height: 56px;
  line-height: 56px;
  text-align: center;
  flex-shrink: 0;
  color: $white;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  .topbar-button {
    &.left {
      left: 13px;
    }

    &.right {
      right: 13px;
    }
  }

  .erxes-title {
    display: inline-block;
    font-size: 16px;
  }
}

.topbar-button {
  position: absolute;
  top: 13px;
  text-align: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: $border-radius;
  display: block;
  @include prefix((
    transition: background 0.3s ease-in-out
  ), webkit moz ms o);

  &.new {
    background: url($icon-new) no-repeat 50%;
  }

  &.back {
    background: url($icon-back) no-repeat 50%;
  }

  &:hover {
    background-color: rgba($black, .2);
  }
}
