{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }],
  [
    "module-resolver",
    {
      "root": ["./"],
      "alias": {
        "modules": "./components"
      }
    }
  ]]
}