$file-box-shadow-color: rgba(0, 0, 0, .06);

.file-wrapper {
  position: relative;
  padding: 16px 20px;
  border: 1px solid $border-grey;
  border-radius: $border-radius;
  padding-left: 50px;
  color: $gray;
  min-width: 120px;
  min-height: 55px;

  i {
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 12px;
    line-height: 30px;
    color: $link-color;
  }

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: rtl;
    text-align: left;
    max-width: 200px;
    display: block;
  }

  &:hover {
    box-shadow: 0 1px 1px $file-box-shadow-color;
  }
}

.message {
  &.staff {
    .download-attachment .file-size {
      left: 0;
      right: auto;
    }
  }
}

.download-attachment {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-width: 160px;
  @include transition(all .2s ease);

  .overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: $black-transparent;
    border-radius: $border-radius;
    left: 0;
    top: 0;
    @include transition(all .2s ease);
  }

  .icon {
    position: absolute;
    color: $white;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    line-height: 28px;
    left: 50%;
    top: 50%;
    border: 1px solid $white;
    margin-left: -15px;
    margin-top: -15px;
  }

  &:hover .icon,
  &:hover .overlay {
    opacity: 1;
  }

  .file-size {
    position: absolute;
    margin-top: 3px;
    color: $text-color-light;
    font-size: 12px;
    right: 0;
  }
}

.attachment-indicator {
  background: $message-background;
  display: flex;
  flex-direction: row;

  .attachment {
    display: flex;
    max-width: 220px;
    padding: 4px;
    margin: 5px 0 5px 5px;
    font-size: 13px;
    border-radius: $border-radius;
    background-color: $white;
    align-items: center;

    .preview {
      margin-right: 5px;
    }

    .preview-img {
      width: 26px;
      height: 26px;
      background-size: cover;
      background-position: 50%;
      border-radius: $border-radius / 2;
    }

    .file-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 5px;
    }

    .file-size {
      color: $text-color-light;
    }
  }
}
