.text- {
  &success {
    color: $success-color;
  }

  &info {
    color: $info-color;
  }

  &warning {
    color: $warning-color;
  }

  &error {
    color: $error-color;
  }

  &muted {
    color: $gray-light;
  }
}
