$break-small: 415px;

.erxes-launcher {
  color: $white;
  line-height: 56px;
  text-align: center;
  border-radius: 28px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  position: fixed;
  z-index: 999999;
  bottom: 8px;
  right: 8px;
  box-shadow: 0 0 10px 0 rgba($black, .2);
  background: $main-color url($icon-erxes) center no-repeat;
  transition: background 0.3s ease-in-out;

  span {
    position: absolute;
    width: 20px;
    height: 20px;
    background: $red;
    display: block;
    right: -2px;
    top: -5px;
    color: $white;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
  }

  &.close {
    background: $main-color url($icon-close-big) no-repeat 50%;;
  }

  &:hover {
    box-shadow: 0 0 15px 0 rgba($black, .3);
  }

  @media screen and (max-width: $break-small) {
    &.close {
      top: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 4px;
      display: block;
      z-index: 1000000000;
      box-shadow: none;
      background: $main-color url($icon-close) no-repeat 50%;;

      &:hover {
        background-color: rgba($black, .2);
      }
    }
  }
}
