#root {
  margin: 0;
  height: 100%;
  font-size: 10px;
  margin: 0;
    padding: 0;
    box-sizing: border-box;
  li {
    list-style: none;
}

a {
    text-decoration: none;
}

}

h4{
  line-height: 150%;
  font-size: 2.5em;
  font-weight: 500;
  margin-top: 1em;
}
p {
  font-size: 1.7em;
  text-align: justify;
  text-justify: inter-word;
}

h4,p{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 1em;
}
.nav{
  width:50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  div{
    font-size: 2em;
    margin:0 10px;
  }
}
.slider{
  width:60%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  .active{
    width: 100%;
    height: 40vh;
    overflow: hidden;
    border: 1px solid rgba(79, 63, 104, 0.3);
    img{
      object-fit: cover;
      height: 100%;
    }
  }
  .sliderWrapper{
    width:80%;
  }
}

#carousel{
  height: 18vh;
  width: 100%;
  margin-top:1em;
  margin-bottom:1em;
  overflow: hidden;
  display: flex;
  border: 1px solid rgba(79, 63, 104, 0.3);
}
.btn-container{
  height: 18vh;
  width:30px;
  margin:1em;
  display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      cursor: pointer;
    }
}

.arrow{
  border-color: #333;
  border-style: solid; 
  height: 20px;
  width: 20px;
  
  &-right{
    border-width: 20px 20px 0 0 ;
    transform: rotate(45deg);
  }
  &-left{
    border-width: 20px 20px 0 0 ;
    transform: rotate(-45deg);
  }
}

.slider-item{
  flex-shrink: 0;
  width: 25%;
  height: 100%;
  overflow: hidden;
  margin-left:1em;
  margin-right:1em;
  cursor: grab;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition:  0.5s ease;
    &:hover{
      transform: scale(1.2);
    }
    &:active{
      border: 1px solid rgba(79, 63, 104, 0.3);
    }
  }
}
.li {
  width: 0;
  height: 0;
}
.header{
  position: fixed;
  top: 0px;
  left: 0px;
  height: max-content;
  right: 0px;
  width: 100%;
  padding-left: 1em;
  display: flex;
  padding: 1em;
  background-color: #FCFCFC;
  justify-content: space-between;
}

  .container{
    padding: 1em 2em 10em;
    height: fit-content;
    max-height: 100%;
    color: #333333 ;
    display: block;
    overflow: hidden;
    h4{
      margin-top:2em ;
    }
  
  }
  .img-container{
    height: 200em;
    max-height: 60vh;;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .footer{
    position:fixed;
    bottom:0px;
    height:5em;
    left:0px;
    right:0px;
    display: flex;
    padding:10px;
    background-color: #FCFCFC;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
.cards {
  display: grid;
  grid-auto-rows: max-content;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-column-gap: 1.6em;
  grid-row-gap: 1.6em;
}
.flex-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 60vh;
  .card{
    margin-bottom: 0.5em;
  }
}
.card {
  border-radius: 0.8em;
  padding: 1em 1.2em;
  background: #fff;
  border: 1px solid rgba(107, 107, 107, 0.25) ;
  overflow: hidden;
  width: auto;
  position: relative;
  font-size: 1em;
  min-width: 100px;
  display: block;
  margin: 0.1em;
  height: fit-content;
  min-height: 4em;
  text-align: center;
  &-disabled {
    pointer-events:none; 
    opacity:0.6;        
  }
  h4{
    margin:1em;
    font-size: 1.8em;
  }
  p{
    text-align: center;
  }
  &:hover {
    cursor: pointer;
  }
}
.status {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid lime;
  border-radius: 0.5em;
  font-size: 0.5em;
  margin: 10px;
  padding: 0.5em;
}


.erxes-booking {
  height: 100%;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    background-color: $text-color;
  }

  p {
    background-color: $main-color;
  }
}

.erxes-widget-container {
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.erxes-booking-container {
  color: $text-color;
  margin: $kb-spacing;
  max-width: 900px;
  position: relative;
}

.btn {
  position: absolute;
  border: none;
  color: white;
  min-width: 80px;
  font-weight: bold;
  padding: 10px 14px 10px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  &:hover {
    cursor: pointer;
  }
}

hr {
  background-color: rgba(0, 0, 0, 0.08);
  height: 1px;
  border: 0;
}

.slick-prev, .slick-next{
  color: #333333 !important;
}
.bar{
  display: block;
  width: 1em;
  height: 2px;
  margin: 3px auto;
  border-radius: 5em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #333;
}
.hamburger {
  display: block;
  cursor: pointer;
  margin-top:1em;
}
