$color-1: #4bbf6b;
$color-2: #F47373;
$color-3: #AAAAAA;
$color-4:#697689;
$color-5: #89609D;
$color-5: #FF6900;
$color-7: #EB144C;
$color-8:#CD5A91;
$color-9:#D29034;
$color-10: #63D2D6;
$color-11: #0078bf;
$color-12: #F7CE53;

$allcolors: $color-1, $color-2, $color-3, $color-4, $color-5, $color-7, $color-8, $color-9, $color-10, $color-11, $color-12;

h4,p{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    h4 {
      font-size: 2em;
      font-weight: 500;
    }
    p {
      font-size: 1em;
    }
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

.slider{
  .active{
    height: min-content;
    img{
      object-fit: cover;
    }
  }
}
.slick-slide{
  margin: 10px;
}
.slick-list{
  max-width: 100%;
}
.li {
  width: 0;
  height: 0;
}

.layout {
  max-width: 100%;
  min-height: 100%;
  color: #333333 ;
  font-size: calc(0.25em + 1vmin);
  margin: 0; 
  display:flex; 
  flex-direction:column; 
}

// @media only screen and (max-width: 320px){
//   .layout{
//     font-size: 10px;
//   }
// }
// @media only screen and (max-width: 320px){
//   .layout{
//     font-size: 10px;
//   }
// }
.header{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0,3fr) minmax(0, 1fr);
  font-size: 1.5em;
  .nav{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    p{
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
.product{
  max-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-rows:  minmax(0, 10%)  minmax(0, 10%) 1fr  minmax(0, 10%)
}
.container{
  min-height: 80%;
  font-size: 1.5em;
  margin-top:auto; 
  .body{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  
}
.block {
  border: 1px solid $mid-grey;
  border-radius: 10px;
  flex: 0 1 calc(25% - 1em);
  min-width: 10em;
  min-height: 3em;
  padding: 1em;
  &:hover,
  &:active {
    cursor: pointer;
    border-color: $primary;
    box-shadow: 0px 4px 8px rgba(136, 111, 221, 0.24);
  }
}

.burger-menu{
  width: 1.1rem;
  height: 1.1rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  div{
    width:1.1rem;
    height: 0.1rem;
    background-color: #525252;
    transform-origin: 1px;
  }
  
}

.arrow{
  margin: 10px;
  @include arrow( 8px, 2px, 2px, 20px);
  @include arrowColor($mid-grey);
}
.erxes-booking {
  height: 100%;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    background-color: $text-color;
  }

  p {
    background-color: $main-color;
  }
}

.erxes-widget-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.erxes-booking-container {
  color: $text-color;
  margin: $kb-spacing;
  max-width: 100%;
  position: relative;
}

.erxes-content {
  padding: $kb-spacing;

  h1 {
    color: lighten($black, 30%);
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

.category-container {
  background: rgba($black, 0.044);
  border-radius: $border-radius;
  padding: $kb-spacing;
}

.btn {
  border: none;
  width: 85px;
  height: 36px;
  color: white;
  font-weight: bold;
  padding: 10px 14px 10px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(79, 51, 175, 0.24);
  &:hover {
    cursor: pointer;
  }
}

hr {
  background-color: rgba(0, 0, 0, 0.08);
  height: 1px;
  border: 0;
}

.detail{
  grid-column-start: 2;
}

@each $color in $allcolors {
  .text-#{unquote("\\" + $color)} {
    color: $color;
  }

  .bg-#{unquote("\\" + $color)} {
    background-color: $color;
  }

  .border-#{unquote("\\" + $color)} {
    &:hover{
      border-color: $color;
    }
  }

  .li-down {
    &-#{unquote("\\" + $color)}{
      @include li-down($color);
    }
    &-#{$color}{
      @include li-down($color);
    }
  }

  .li-right {
    &-#{unquote("\\" + $color)}{
      @include li-right($color);
    }
    &-#{$color}{
      @include li-right($color);
    }
  }
}
