$color-1: #4bbf6b;
$color-2: #F47373;
$color-3: #AAAAAA;
$color-4:#697689;
$color-5: #89609D;
$color-5: #FF6900;
$color-7: #EB144C;
$color-8:#CD5A91;
$color-9:#D29034;
$color-10: #63D2D6;
$color-11: #0078bf;
$color-12: #F7CE53;

$allcolors: $color-1, $color-2, $color-3, $color-4, $color-5, $color-7, $color-8, $color-9, $color-10, $color-11, $color-12;
.slider{
 width: 100%;
 padding: 20px;
}
.arrow {
  width: 0;
  height: 0;
}

.layout {
  display: block;
  min-height: 100%;
}
.product{
  img{
    width: 90%;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.main-header {
  font-size: 14px;
  color: $text-color;
  text-align: center;
}

.main-body {
  img {
    margin: 5px;
    width: 100%;
    height: auto;
  }
}

.block {
  border: 1px solid $mid-grey;
  border-radius: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  padding: 10px;

  h4 {
    font-size: 14px;
    margin-bottom: 0;
  }

  p {
    font-size: 12px;
  }

  &:hover,
  &:active {
    cursor: pointer;
    border-color: $primary;
    box-shadow: 0px 4px 8px rgba(136, 111, 221, 0.24);
  }
}

.erxes-booking {
  height: 100%;
  text-align: center;

  img {
    max-width: 900px;
    width: 900px;
    height: 30%;
  }

  h1 {
    background-color: $text-color;
  }

  p {
    background-color: $main-color;
  }
}

.erxes-widget-container {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.erxes-booking-container {
  color: $text-color;
  margin: $kb-spacing;
  max-width: 900px;
  position: relative;
}

.category-container {
  background: rgba($black, 0.044);
  border-radius: $border-radius;
  padding: $kb-spacing;
}

.btn {
  border: none;
  width: 85px;
  height: 36px;
  color: white;
  font-weight: bold;
  padding: 10px 14px 10px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(79, 51, 175, 0.24);
  &:hover {
    cursor: pointer;
  }
}

hr {
  background-color: rgba(0, 0, 0, 0.08);
  height: 1px;
  border: 0;
}

.detail{
  grid-column-start: 2;
}

.icon-leftarrow{
  &:before {
    content: '\e84a';
  }

  &:hover {
    cursor: pointer;
  }
}

.icon-arrow-left:before {
  content: '\e9d9';
}
.icon-arrow-right:before {
  content: '\e9dc';
}

.icon-menu-2 {
  &:before {
  content: '\e852';
  }

  &:hover {
    cursor: pointer;
  }
}



@each $color in $allcolors {
  .text-#{unquote("\\" + $color)} {
    color: $color;
  }

  .bg-#{unquote("\\" + $color)} {
    background-color: $color;
  }

  .border-#{unquote("\\" + $color)} {
    &:hover{
      border-color: $color;
    }
  }

  .arrow-down {
    &-#{unquote("\\" + $color)}{
      @include arrow-down($color);
    }
    &-#{$color}{
      @include arrow-down($color);
    }
  }

  .arrow-right {
    &-#{unquote("\\" + $color)}{
      @include arrow-right($color);
    }
    &-#{$color}{
      @include arrow-right($color);
    }
  }
}