.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-end{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.full-img {
  width: 100%;
  height: auto;
}
.top-0 {
  top: 0 !important;
}
.b {
  color: #222;
  font-weight: bold;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-30 {
  margin-right: 30px !important;
  &:hover {
    cursor: pointer;
  }
}
.mb-10 {
  margin-bottom: 10px !important;
}
.grid-21{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid-13{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.grid-131 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.grid {
  display: grid;
  align-items: center;
  align-self: end;
  padding: 3px;
}
.center {
  display: grid;
  align-items: center;
  justify-content: center;
  align-self: end;
}
.circle {
  border-radius: 50%;
  min-width: 23px;
  min-height: 23px;
  padding: 3px;
  color: white;
  font-size: 10px;
}
