.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-end{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.flex-sb {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-sa {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.top-0 {
  top: 0 !important;
}
.b {
  color: #222;
  font-weight: bold;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.m-10{
  margin: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-30 {
  margin-right: 30px !important;
  &:hover {
    cursor: pointer;
  }
}
.mb-10 {
  margin-bottom: 10px !important;
}
.fixed{
  position: fixed;
  bottom: 0;
  left: 0;
}
.grid-21{
  display: grid;
  grid-template-columns: minmax(0, 60%) minmax(0, 40%);
  grid-gap: 1rem;
}

.grid-12{
  display: grid;
  grid-template-columns: minmax(0, 40%) minmax(0, 60%);
  grid-gap: 1rem;
  overflow: hidden;
  max-height: 70vh;
  img{
    grid-column-start: 2;
  }
}

.grid {
  display: grid;
  align-items: center;
  align-self: end;
  padding: 3px;
}
.center {
  display: grid;
  align-items: center;
  justify-content: center;
  align-self: end;
}
.circle {
  border-radius: 50%;
  min-width: 23px;
  min-height: 23px;
  padding: 3px;
  color: white;
  font-size: calc(0.25em + 1vmin)
}
