.booking-navigation {
  min-width: 150px;
  background-color: #fff;
  position: fixed;
  top:10px;
  left:10px;
  text-align: left;
  color: $mid-grey;
  display: inline-block;
  border-radius: 2px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  i{
    margin:5px
  }
  ul{
    padding-inline-start: 0;
    margin-bottom: 10px;
  }
  li{
    list-style: none;
  }
  .list{
    margin-bottom:5px ;
  }
  .child-list{
    margin-left: 30px;
  }
  .toggle-icon {
    i {
      font-size: 10px;
      &:before {
        display: block;
      }
    }
  }
  .toggle-nav{
    width: 10px;
    height: 10px;
    align-self: end;
  }
  ht{
    width:200;
  }
}