.erxes-searchbar {
  background: $main-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  color: $white;
  flex-shrink: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 10;

  i {
    color: $white;
    font-size: 18px;
    left: 20px;
    position: absolute;
    top: 10px;
  }

  input {
    background-color: $transparent-white;
    background-position: 16px 14px;
    background-repeat: no-repeat;
    border: 0;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $white;
    display: block;
    font-weight: normal;
    max-width: 100%;
    min-width: 100%;
    outline: 0;
    padding: 14px 16px 14px 48px;
    transition: background .3s;
    font-size: 14px;

    &:focus {
      background-color: rgba($transparent-white, .4);
    }
  }
}