.home-container {
  height: 100%;
  position: relative;
  flex: 1;
  padding-bottom: 2rem;
}

.greeting-info {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  color: white;
  width: 85%;
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  div {
    font-size: 0.875rem;
  }
}

.contact-channels {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  span {
    font-size: 14;
    font-weight: 500;
    color: 'black';
  }

  .channel-list {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
  }
}
.getting-started-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  > span {
    font-size: 1rem;
    font-weight: 500;
  }
  .getting-started-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .supporters-info-wrapper {
    display: flex;
    gap: 0.75rem;
    .schedule-info-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.375rem;
      color: #333;
      font-size: 0.875rem;
      font-weight: 400;
      .response-rate {
        color: #4f33af;
        font-size: 0.875rem;
        font-weight: 500;
      }
    }
  }
}

.main-contents {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  position: absolute;
  padding: 0 1rem;
  top: 263px;
  flex-flow: wrap;
}
.gradient-bg {
  position: absolute;
  top: 0;
  height: 400px;
  width: 100%;
  background: linear-gradient(
    115deg,
    #512fc5 12.5%,
    #8349ff 52.08%,
    #caf4f7 100%
  );
  .absorbed {
    position: absolute;
    bottom: 0;
    height: 140px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  }
}
.home-header-wrapper {
  position: absolute;
  z-index: 2;
  padding: 2.25rem 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
}
.header-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
