.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 60%;
  height: auto;
  top:50%;
  left:50%;
  padding: 5px;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  overflow: auto;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% auto;
  padding: 10px;
}

.grid-sub-container {
  display: grid;
  grid-template-columns: 50px 100px 200px;
  cursor: pointer;
}

.grid-sub-container:hover {
  border: 1px solid rgba(98, 155, 224, 0.8);
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 4px;
  font-size: 12px;
  text-align: left;
}

.grid-name-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px;
  font-size: 12px;
  padding-top: 15%;
  text-align: left;
}

.grid-radio-item {
  padding-top: 35%;
  text-align: center;
}

.grid-image-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}