@mixin active-state {
  background-color: $grey-light;
  color: $text-color;
}

.dropdown-menu {
  border: 0;
  box-shadow: $box-shadow;

  > li > a {
    padding: 5px 20px;
    color: $text-color;

    &:hover {
      color: $text-color;
      background-color: $grey-light;
    }
  }

  > .active > a {
    @include active-state;

    &:focus {
      @include active-state;
    }

    &:hover {
      @include active-state;
    }
  }
}
