$editor-text-color: #999;

.RichEditor-root {
  font-size: 14px;
}

.RichEditor-editor {
  border-top: 1px solid $border-grey;
  cursor: text;

  .public-DraftEditorPlaceholder-root {
    padding: 15px;
    position: absolute;

    .public-DraftEditorPlaceholder-inner {
      color: $editor-text-color;
    }
  }

  .public-DraftEditor-content {
    padding: 15px;
    min-height: 100px;

    ul {
      padding-left: 25px;
    }

    ol {
      padding-left: 25px;
    }

    h3 {
      margin-top: 0;
    }
  }

  .RichEditor-blockquote {
    border-left: 5px solid $border-grey;
    color: $gray-light;
    font-style: italic;
    padding: 10px 20px;
  }

  .public-DraftStyleDefault-pre {
    margin-bottom: 0;

    pre {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-controls-root {
  overflow: hidden;
  padding: 10px 15px 5px;

  .RichEditor-controls {
    float: left;
    font-size: 14px;
    user-select: none;
    margin-bottom: 5px;
  }
}


.RichEditor-styleButton {
  color: $editor-text-color;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;

  &:hover {
    color: lighten($main-color, 35%);
  }
}

.RichEditor-activeButton {
  color: $main-color;
}
