//colors
$color-mention-active: darken($message-background, 10%);
$mention-shadow: 0 0 10px -3px $black-transparent;
$editor-text-color: #999;
$transparent-border: rgba(0, 0, 0, 0.05);

.editor-bordered {
  border: 1px solid $border-grey;
  border-radius: $border-radius;
}

.RichEditor-root {
  font-size: 14px;

  select {
    border: 0;
    outline: 0;
    background: 0;
    margin-top: 3px;
    color: $text-color-light;
  }
}

.RichEditor-editor {
  border-top: 1px solid $border-grey;
  cursor: text;

  .public-DraftEditorPlaceholder-root {
    padding: 15px;
    position: absolute;

    .public-DraftEditorPlaceholder-inner {
      color: $editor-text-color;
    }
  }

  .public-DraftEditor-content {
    padding: 15px;
    min-height: 100px;

    ul {
      padding-left: 25px;
    }

    ol {
      padding-left: 25px;
    }

    h3 {
      margin-top: 0;
    }
  }

  .RichEditor-blockquote {
    border-left: 5px solid $border-grey;
    color: $gray-light;
    font-style: italic;
    padding: 10px 20px;
  }

  .public-DraftStyleDefault-pre {
    margin-bottom: 0;

    pre {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-controls-root {
  overflow: hidden;
  padding: 5px 15px 0;

  .RichEditor-controls {
    float: left;
    font-size: 14px;
    user-select: none;
    margin-bottom: 5px;
  }
}

.form-content {
  .RichEditor-controls-root {
    padding: 10px 20px 5px;
  }

  .public-DraftEditor-content {
    padding: 20px;
    min-height: 300px;
  }

  .RichEditor-editor {
    border-color: $transparent-border;
  }
}

.RichEditor-styleButton {
  color: $editor-text-color;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
  min-width: 10px;
  text-align: center;

  &:hover {
    color: lighten($main-color, 35%);
  }
}

.RichEditor-activeButton {
  color: $main-color;
}

@mixin mention-default {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: $border-radius;
  text-decoration: none;
}

@mixin mention-highlight {
  outline: 0;
}

.draftJsMentionPlugin__mention__29BEd {
  @include mention-default;

  &:visited {
    @include mention-default;
  }

  &:hover {
    @include mention-highlight;
  }

  &:focus {
    @include mention-highlight;
  }

  &:active {
    color: $gray-darker;
  }
}

.draftJsMentionPlugin__mentionSuggestions__2DWjA {
  position: absolute;
  min-width: 220px;
  width: 100%;
  background: $white;
  border-radius: $border-radius;
  box-shadow: $mention-shadow;
  cursor: pointer;
  z-index: 2000;
  box-sizing: border-box;
  transform: scale(0);
  bottom: 100%;

  // scss-lint:disable ImportantRule
  top: auto !important;
  left: 0 !important;
  // scss-lint:enable ImportantRule

  max-height: 300px;
  overflow: auto;
}

.draftJsMentionPlugin__mentionSuggestionsEntry__3mSwm {
  padding: 5px 10px;
  transition: background-color 0.4s cubic-bezier(.27, 1.27, .48, .56);
  font-size: 13px;

  &:active {
    background-color: $color-mention-active;
  }
}

.draftJsMentionPlugin__mentionSuggestionsEntryFocused__3LcTd {
  background-color: $message-background;
}

.mentioned-person {
  @include mention-default;
}

.mention {
  text-decoration: none;
}

.mentionSuggestionsEntryContainer {
  display: flex;
}

.mentionSuggestionsEntryContainerRight {
  display: flex;
  padding-left: 8px;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.mentionSuggestionsEntryText,
.mentionSuggestionsEntryTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mentionSuggestionsEntryText {
  margin-right: 8px;
  font-weight: bold;
}

.mentionSuggestionsEntryTitle {
  font-size: 95%;
  color: $text-color-light;
  margin-top: -2px;
}

.mentionSuggestionsEntryAvatar {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
