@mixin inline-control {
  width: auto;
  height: auto;
  display: inline-block;
  margin-right: 5px;
}

.form-control {
  box-shadow: none;
  border-radius: $border-radius;
  border-color: $grey-dark;
  padding: 8px 14px;

  &[type='checkbox'] {
    @include inline-control;
  }

  &[type='radio'] {
    @include inline-control;
  }

  &:focus {
    box-shadow: none;
    border-color: $main-color;
  }

  &[type='color'] {
    padding: 0;
  }
}

.form-group {
  margin-bottom: 20px;
}

.radio-inline {
  input[type='radio'] {
    margin-left: -19px;
    margin-top: 3px;
  }
}

