$fb-border-top: #e5e6e9;
$fb-border-right: #dfe0e4;
$fb-border-bottom: #d0d1d5;
$fbpost-background: #f6f7f9;

@mixin embed-post {
  padding: 12px;
  background: $fbpost-background;
  border: 1px solid;
  border-color: $fb-border-top $fb-border-right $fb-border-bottom;
  border-radius: $border-radius;
}

// Conversation list

.conversations-list {
  margin: 0;
  padding: 0;
  list-style: none;

  .body {
    flex: 1;

    &:hover {
      color: $gray-dark;
    }

    header {
      position: relative;
    }

    .tags {
      display: inline-block;
      margin-left: 15px;
    }

    .customer-name {
      font-weight: bold;
    }

    .customer-email {
      font-size: 13px;
      color: $text-color-light;
    }

    .content {
      background: none;
      margin: 10px 0;
      cursor: pointer;
      word-break: break-word;
      overflow: hidden;
      max-height: 20px;
    }

    footer {
      font-size: 13px;
      color: $gray-light;
    }
  }

  .source,
  .assignee,
  .info {
    display: inline-block;
    margin-right: 30px;
  }

  .source {
    .name {
      display: inline-block;
      margin-left: 6px;
    }
  }

  .info {
    color: $gray-light;

    span {
      margin-right: 15px;
    }
  }

  > li {
    padding: 20px;
    border-bottom: 1px solid $grey;
    position: relative;
    display: flex;
    align-items: center;

    &.unread {
      background: $light-gray-background;
      border-left: 1px solid $main-color;
    }

    &:hover .conversation-togglers a {
      display: inline-block;
    }

    .column {
      margin-right: 20px;
    }
  }

  .column.markRead {
    margin-right: 0;

    > span:hover {
      cursor: pointer;
    }
  }

  .simple-row {
    padding: 15px;

    time {
      font-weight: normal;
      font-style: italic;
      font-size: 11px;
      margin: 0 5px;
    }

    .column {
      margin-right: 15px;
    }

    .content {
      margin: 5px 0;
      font-size: 12px;
      max-height: 36px;
      line-height: 18px;
      overflow: hidden;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      word-wrap: break-word;

      &:hover {
        cursor: pointer;
      }
    }

    .brandname {
      font-weight: 600;
    }

    .tags {
      margin-left: 0;
      display: block;
    }

    .items-horizontal {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }
  }

  .baseline-row {
    align-items: flex-start;

    input[type=checkbox] {
      margin-top: 14px;
    }

    .content {
      margin: 10px 0;
    }
  }
}

// Conversation details

.conversation-message-container {
  margin-bottom: 10px;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  position: relative;
  clear: both;

  .avatar {
    position: absolute;
  }

  .body {
    margin: 0 0 20px 50px;
    padding: 12px 15px;
    color: $gray-dark;
    border-radius: 5px;
    background: $grey;
    flex-grow: 0;
    word-break: break-word;

    img {
      max-width: 100%;
    }

    p {
      margin: 0;
    }

    ul {
      padding-left: 25px;
    }

    ol {
      padding-left: 25px;
    }

    h3 {
      margin-top: 0;
    }

    blockquote {
      margin-bottom: 0;
      border-color: $border-grey;
    }

    pre {
      margin-bottom: 0;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 50px;
    color: $gray-light;
    font-size: 11px;
  }
}

.staff {
  padding-right: 0;
  padding-left: 20%;
  text-align: right;
  flex-direction: row-reverse;

  .body {
    background-color: $message-background;
    margin: 0 50px 20px 0;
  }

  footer {
    right: 50px;
    left: auto;
  }
}

.attachment {
  .body {
    padding: 0;
    background-color: transparent;

    > span {
      display: block;
      margin-bottom: 5px;
    }

    img {
      border-radius: 3px;
    }
  }
}

.fbpost {
  .body {
    @include embed-post;
  }
}

.attach-preview {
  .body {
    padding: 0;
    position: relative;
    min-width: 80px;
    min-height: 50px;

    > div[data-loader='circle-side'] {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -12px;
      margin-top: -12px;
    }

    img {
      opacity: 0.5;
      border-radius: 3px;
    }

    .attach-file {
      width: 270px;
      height: 54px;
    }
  }
}

.internal .body {
  background-color: $internal-background;
}

.form-data {
  @include embed-post;
  font-size: 12px;
  padding: 0;
  margin-bottom: 20px;
  background: none;

  td {
    padding: 10px 20px;
  }

  th {
    background: $grey;
    border-bottom: 1px solid $border-grey;
  }
}


.reaction {
  display: inline-block;
  margin: 10px 0;

  span[class^='reaction-'] {
    margin-right: 3px;
  }

  > span {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url("/images/reactions.png");
    background-repeat: no-repeat;
    background-size: auto;

    &.reaction-angry {
      background-position: 0 0;
    }

    &.reaction-haha {
      background-position: -17px 0;
    }

    &.reaction-like {
      background-position: -34px 0;
    }

    &.reaction-love {
      background-position: -51px 0;
    }

    &.reaction-sad {
      background-position: -68px 0;
    }

    &.reaction-wow {
      background-position: -85px 0;
    }
  }
}

.conversation-togglers {
  color: $main-color;
  font-size: 20px;
  margin-right: 0;

  > a {
    cursor: pointer;
    display: none;
    margin-left: 15px;
    outline: 0;

    &.visible {
      display: inline-block;
    }
  }
}
