$fbpost-border-color: #e5e6e9 #dfe0e4 #d0d1d5;
$fbpost-barckground: #f6f7f9;

.conversations-list {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    padding: 20px;
    border-bottom: 1px solid $border-grey;
    position: relative;
    display: flex;
    align-items: center;

    &.unread {
      background: $light-gray-background;
      border-left: 1px solid $main-color;
    }

    &:hover {
      .conversation-togglers a {
        display: inline-block;
      }
    }

    .column {
      margin-right: 20px;

      &.markRead {
        margin-right: 0;
        >span:hover{
          cursor: pointer;
        }
      }
    }

    .body {
      flex: 1;

      &:hover {
        color: $gray-dark;
      }

      header {
        .tags{
          display: inline-block;
          margin-left: 15px;
        }
      }

      .customer-name {
        font-weight: bold;
      }

      .content {
        background: none;
        margin: 10px 0;
        cursor: pointer;
        word-break: break-word;
        overflow: hidden;
        max-height: 20px;
      }

      footer {
        font-size: 13px;
        color: $gray-light;
        .source, .assignee, .info {
          display: inline-block;
          margin-right: 30px;
        }

        .source {
          .name {
            display: inline-block;
            margin-left: 6px;
          }
        }

        .info {
          color: $gray-light;

          span {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

.conversation {
  margin-bottom: 30px;

  .message {
    margin-bottom: 10px;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    position: relative;
    clear: both;

    &.staff {
      padding-right: 0;
      padding-left: 20%;
      text-align: right;
      flex-direction: row-reverse;

      .body {
        background-color: $message-background;
        margin: 0 50px 20px 0;
      }

      footer {
        right: 50px;
        left: auto;
      }
    }

    &.attachment .body{
      padding: 0;
      background-color: transparent;

      > span {
        display: block;
        margin-bottom: 5px;
      }
      img {
        border-radius: 3px;
      }
    }

    &.fbpost .body {
      padding: 12px;
      background: $fbpost-barckground;
      border: 1px solid;
      border-color: $fbpost-border-color;
      border-radius: 4px;
    }

    &.attach-preview {
      .body {
        padding: 0;
        position: relative;
        min-width: 80px;
        min-height: 50px;

        > div[data-loader='circle-side'] {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -12px;
          margin-top: -12px;
        }

        img {
          opacity: 0.5;
          border-radius: 3px;
        }

        .attach-file {
          width: 270px;
          height: 54px;
        }
      }
    }

    .avatar {
       position: absolute;
    }

    &.internal {
      .body {
        background-color: $internal-background;
      }
    }

    .body {
      margin: 0 0 20px 50px;
      padding: 12px 15px;
      color: $gray-dark;
      border-radius: 5px;
      background: $grey;
      flex-grow: 0;
      word-break: break-word;

      img {
        max-width: 100%;
      }

      p {
        margin: 0;
      }

      ul {
        padding-left: 25px;
      }

      ol {
        padding-left: 25px;
      }

      h3 {
        margin-top: 0;
      }

      blockquote {
        margin-bottom: 0;
        border-color: $border-grey;
      }

      pre {
        margin-bottom: 0;
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 50px;
      color: $gray-light;
      font-size: 12px;
    }
  }
}

.reaction {
  display: inline-block;
  margin: 10px 0;

  span[class^='reaction-'] {
    margin-right: 3px;
  }

  > span {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url("/assets/images/reactions.png");
    background-repeat: no-repeat;
    background-size: auto;

    &.reaction-like {
      background-position: -34px 0;
    }

    &.reaction-wow {
      background-position: -85px 0;
    }

    &.reaction-love {
      background-position: -51px 0;
    }

    &.reaction-sad {
      background-position: -68px 0;
    }

    &.reaction-haha {
      background-position: -17px 0;
    }

    &.reaction-angry {
      background-position: 0 0;
    }
  }
}

.conversation-togglers {
  color: $main-color;
  font-size: 20px;
  margin-right: 0;

  > a {
    cursor: pointer;
    display: none;
    margin-left: 15px;

    &.visible {
      display: inline-block;
    }
  }
}
