.insight-wrapper {

	.insight-title {
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 18px;
	}

	.insight-filter {
		padding: 20px;
	}

	.insight-row {
		position: relative;
		margin-bottom: 24px;
	}

	.insight-user-data {
		margin-bottom: 20px;

		.user-profile {
			margin-bottom: 20px;
			line-height: 40px;
			height: 40px;
			overflow: hidden;

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				margin: 0 20px;
				float: left;
			}

			.full-name {
				float: left;
				font-size: 15px;
				font-weight: bold;
			}
		}
	}

	.integration-kind {
		position: absolute;
		z-index: 2;
		padding-left: 20px;
		margin-top: 60px;

    .kind-item {
    	margin-bottom: 12px;

    	.label {
    		margin-right: 4px;
    		display: inline-block;
    		padding: 5px 10px;
    	}

    	.kind-count {
    		font-size: 12px;
    		font-weight: bold;
    	}
    }
	}

	.summary-item {
		border: 1px solid #ddd;
		text-align: center;
		border-radius: 5px;
		margin-bottom: 30px;
		padding: 12px;

		.summary-title {
			margin-bottom:4px;
			text-transform: uppercase;
		}

		.summary-count {
			font-weight: bold;
			font-size: 24px;
		}
	}
}

#punch-card {
  .axis path,
  .axis line {
    fill: none;
    stroke: #333;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
  
  .axis text {
    font-size: 0.875em;
  }
}