@mixin line {
  height: 8px;
  margin: 13px 0;
  background: $border-grey;
  border-radius: $border-radius;
}

.loading-wrapper {
  padding: 20px 0;

  &.side {
    padding-bottom: 0;
  }
}

.loading-item {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  align-items: center;

  .animate {
    animation: pulse .5s infinite alternate;
  }

  &.bordered {
    border-bottom: 1px solid $gray-lighter;
    padding: 20px;
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $border-grey;
    margin-right: 20px;
  }

  .line-wrapper {
    flex: 1;

    .line {
      @include line;
    }

    .line:first-child {
      margin-top: 0;
    }

    .line:last-child {
      margin-bottom: 0;
    }

    .title {
      margin-bottom: 20px;
    }

    .animate {
      animation: pulse .5s infinite alternate;
    }
  }

  .width20 {
    width: 20%;
  }

  .width40 {
    width: 40%;
  }

  .width85 {
    width: 85%;
  }

  .width65 {
    width: 65%;
  }

  .width70 {
    width: 70%;
  }
}


.loading-table {
  .line {
    @include line;
    margin: 5px 0;
  }

  .circle {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: $border-grey;
    flex-shrink: 0;
    margin: auto;
  }

  .animate {
    animation: pulse .5s infinite alternate;
  }
}


@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

