.wrapper-loader {
  position: fixed;
  top: 0;
  left: 0;
  background: $main-color;
  width: $nav-width;
  height: $header-height;
  z-index: 101;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

[data-loader] {
  margin: 18px auto;
}


[data-loader='circle-side'] {
  position: relative;

  width: 25px;
  height: 25px;

  @include prefix((animation: circle infinite .75s linear), webkit moz o);

  border: 2px solid #fff;
  border-top-color: rgba(0, 0, 0, .2);
  border-right-color: rgba(0, 0, 0, .2);
  border-bottom-color: rgba(0, 0, 0, .2);
  border-radius: 100%;
}

.full-loader {
  height: 100%;

  [data-loader='circle-side']{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -12.5px;
    margin-left: -12.5px;
  }
}



@-webkit-keyframes circle
{
  0% {
    @include prefix((transform: rotate(0)), webkit moz o);
  }
  100% {
    @include prefix((transform: rotate(360deg)), webkit moz o);
  }
}
@-moz-keyframes circle
{
  0% {
    @include prefix((transform: rotate(0)), webkit moz o);
  }
  100% {
    @include prefix((transform: rotate(360deg)), webkit moz o);
  }
}
@-o-keyframes circle
{
  0% {
    @include prefix((transform: rotate(0)), webkit moz o);
  }
  100% {
    @include prefix((transform: rotate(360deg)), webkit moz o);
  }
}
@keyframes circle
{
  0% {
    @include prefix((transform: rotate(0)), webkit moz o);
  }
  100% {
    @include prefix((transform: rotate(360deg)), webkit moz o);
  }
}
