/**
 * Name cards
 */

.avatar {
  display: block;
  max-width: 80px;
  border-radius: 40px;

  .no-user {
    background: url('/images/userDefaultIcon.png') center no-repeat;
    background-size: 100%;
  }

  img {
    width: 100%;
    background: #f8f8f8;
  }

  div {
    text-align: center;
    background-color: $grey-light;
    font-weight: bold;
    font-size: 13px;
    color: $text-color;
  }
}

.text-normal .name-card .first-line {
  font-weight: normal;
}

.name-card {
  overflow: hidden;
  display: flex;
  align-items: center;

  .avatar {
    float: left;
  }

  .text {
    margin-left: 10px;
  }

  .first-line {
    font-weight: bold;
    display: block;
    color: $text-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .second-line {
    font-size: 13px;
    color: $text-color-light;
  }
}

.dropdown-menu {
  .name-card {
    padding: 3px 20px;
  }
}
