.paginate-wrapper {
  display: table;
  min-height: 100%;
  width: 100%;

  .paginate-button {
    text-align: center;
    display: table-footer-group;

    > .btn {
      width: 100%;
      border: 0;
      border-top: 1px solid $gray-lighter;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      color: $text-color-light;
      border-radius: 0;

      &:focus {
        background: none;
      }
    }
  }
}
