.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 480px;

  .action-bar {
    background: $white;
    border-radius: $border-radius;
    height: $action-bar-height;
    line-height: $action-bar-height;
    padding: 0 20px 0 16px;
    margin-bottom: $box-margin;

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }

  .content {
    flex: 1;
    background-color: $white;
    border-radius: $border-radius;
    overflow: auto;
    position: relative;

    .scrollarea-content {
      min-height: 100%;
    }

    .scroll-area {
      height: 100%;
      overflow: auto;
      position: relative;
    }

    .margined {
      margin: $box-inner-space;
      overflow: hidden;
    }
  }

  .footer {
    background: $white;
    border-radius: $border-radius;
    margin-top: $box-margin;
  }
}
