.respond-box {
  position: relative;

  .checkbox {
    position: absolute;
    right: 20px;
    bottom: 0;
    color: $text-color-light;
    line-height: 22px;

    input {
      margin: 5px 0 0 -20px;
    }
  }

  .form-group {
    margin: 0;
  }

  textarea {
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 18px 20px;
    resize: none;
  }

  #reply-form .RichEditor-root {
    background: $message-background;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  #internal-note-form .RichEditor-root {
    background: $internal-background;
  }

  .btn-attach input[type="file"] {
    display: none;
  }

  .response-template {
    display: inline-block;
  }
}
