.scrollarea{
  .scrollbar-container{
    border-radius: 3px;
    opacity: 0;

    &.horizontal{
      height: 8px;
      .scrollbar{
        height: 6px;
        border-radius: 3px;
      }
    }
    &.vertical{
      width: 8px;
      .scrollbar{
        width: 6px;
        border-radius: 3px;
      }
    }
  }
}
