$bg-widget-background: #faf9fb;

.iframe-preview {
  width: 140px;
  height: 100px;
  overflow: hidden;
  border: 1px solid $border-grey;
  border-radius: $border-radius;

  iframe {
    transform: scale(.2);
    transform-origin: 0 0;
    pointer-events: none;
    width: 510%;
    height: 500%;
    border: 0;
  }
}

.integration-item {
  .checkbox {
    margin-top: 0;
  }
}

.notification-settings {
  h5 {
    font-weight: 600;
  }
}

.type-box {
  .box {
    margin-bottom: 20px;

    .btn {
      margin-right: 10px;
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid $grey;
    padding: 10px 0;
    font-size: 12px;
    color: $text-color-light;
    margin: 0 0 20px;
  }
}

.markdown-wrapper {
  margin-top: 5px;
  position: relative;

  .btn {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.widget-appearance {
  display: flex;
  flex-direction: row;

  > div {
    padding: 10px 30px 10px 10px;
  }
}

.color-pick {
  border-radius: $border-radius;
  display: inline-block;
  padding: 5px;
  border: 1px solid $border-grey;
  cursor: pointer;

  > div {
    width: 80px;
    height: 15px;
  }
}

.chrome-picker {
  box-shadow: none !important;
}

.widget-backgrounds {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.background-selector {
  border: 3px solid transparent;
  margin-right: 15px;
  border-radius: $border-radius;
  transition: border-color .3s;

  &:last-child {
    margin-right: 0;
  }

  &.selected {
    border-color: $border-grey;
  }

  &:hover {
    cursor: pointer;
  }

  > div {
    width: 80px;
    height: 40px;
    margin: 5px;
    border: 1px solid $border-grey;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 220%;

    &.background-1 {
      background-image: url("/images/patterns/bg-1.png");
    }

    &.background-2 {
      background-image: url("/images/patterns/bg-2.png");
      background-position: 80px 260px;
    }

    &.background-3 {
      background-image: url("/images/patterns/bg-3.png");
    }

    &.background-4 {
      background-image: url("/images/patterns/bg-4.png");
    }

    &.background-5 {
      background: $bg-widget-background;
    }
  }
}
