.table {
  margin-bottom: -1px;

  thead > tr > th {
    font-size: 12px;
    text-transform: uppercase;
    background: $grey-light;
    border-bottom: 0;
    padding: 12px 25px;

    &.less-space {
      padding: 12px;
    }
  }

  tbody > tr > td {
    border-color: $grey;
    border-top: 0;
    border-bottom: 1px solid $grey;
    padding: 10px 25px;
    vertical-align: middle;

    &.less-space {
      padding-right: 0;
    }
  }

  &.no-wrap {
    th {
      white-space: nowrap;
    }

    td {
      white-space: nowrap;
    }
  }
}
