//colors
$disabled: #4d4d4d;
$alabaster: #fafafa;

.react-toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  @include prefix((user-select: none), webkit moz o khtml ms);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  &:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: $black;
  }

  &.wide {
    .react-toggle-track {
      width: 80px;
    }
  }
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  @include prefix((transition: opacity 0.25s), webkit moz o);
}

.react-toggle-track {
  color: $white;
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: $disabled;
  @include prefix((transition: all 0.2s ease), webkit moz o);
}

.react-toggle--checked {
  .react-toggle-track {
    background-color: $success-color;
  }

  .react-toggle-track-check {
    opacity: 1;
    @include prefix((transition: opacity 0.25s ease), webkit moz o);
  }

  .react-toggle-track-x {
    opacity: 0;
  }

  .react-toggle-thumb {
    left: 27px;
    border-color: $success-color;
  }

  &:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: $success-color;
  }

  &.wide {
    .react-toggle-thumb {
      left: 57px;
    }
  }
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 10px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 10px;
  opacity: 0;
  @include prefix((transition: opacity 0.25s ease), webkit moz o);
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 10px;
  bottom: 0;
  left: 28px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  @include prefix((transition: opacity 0.25s ease), webkit moz o);
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid $disabled;
  border-radius: 50%;
  background-color: $alabaster;
  @include prefix((box-sizing: border-box), webkit moz o);
  @include prefix((transition: all 0.25s ease), webkit moz o);
}

