$bg-color:          #faf9fb;
$text-color:        #686868;
$online-color:      #67b04f;
$shadow-color:      rgba(0, 0, 0, .14);
$shadow-color-light:rgba(0, 0, 0, .06);
$box-shadow-preview: 0 2px 15px 0 $shadow-color, 0 1px 6px 0 $shadow-color-light;

.widget-preview {
  width: 280px;
  height: 430px;
  border-radius: $border-radius;
  background: $white;
  color: $white;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  overflow: hidden;
  box-shadow: $box-shadow-preview;

  .erxes-topbar {
    overflow: hidden;
    width: 100%;
    position: relative;
    text-align: center;
    flex-shrink: 0;

    .topbar-button {
      left: 10px;
    }

    .erxes-middle {
      display: inline-block;
    }
  }

  .topbar-button {
    position: absolute;
    top: 15px;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: $border-radius;
    display: block;
  }

  .erxes-staff-profile {
    padding: 10px 0;
    text-align: left;
    line-height: 1.3em;

    img {
      float: left;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      overflow: hidden;
    }

    > div {
      margin-left: 40px;
    }

    .erxes-staff-name {
      font-size: 13px;
      font-weight: 500;
      padding-top: 3px;
    }

    .erxes-state {
      font-size: 11px;
      font-weight: 300;
    }

    .online {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      display: inline-block;
      margin-bottom: 1px;
      margin-right: 3px;
      background-color: $online-color;
    }
  }

  .erxes-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.erxes-messages-list {
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  overflow: auto;
  padding: 20px;
  margin: 0;
  flex: 1;
  list-style: none;
  background-repeat: repeat;
  background-position: 0 0;

  &.background-1 {
    background-image: url("/assets/images/patterns/bg-1.png");
  }

  &.background-2 {
    background-image: url("/assets/images/patterns/bg-2.png");
  }

  &.background-3 {
    background-image: url("/assets/images/patterns/bg-3.png");
  }

  &.background-4 {
    background-image: url("/assets/images/patterns/bg-4.png");
  }

  li {
    position: relative;
    margin-bottom: 10px;

    &.from-customer {
      text-align: right;
    }

    .date {
      font-size: 10px;
      color: $text-color;
      margin-left: 40px;
    }

    &.erxes-spacial-message {
      padding: 18px;
      border-radius: 4px;
      border: 1px solid $border-grey;
      background: $white;
      color: $text-color;
      margin-bottom: 20px;
    }
  }
}

.erxes-message {
  padding: 10px 12px;
  background-color: $grey;
  border-radius: $border-radius;
  position: relative;
  margin: 0 20px 5px 40px;
  display: inline-block;
  word-break: break-word;
  color: $text-color;
  text-align: left;

  &.from-customer {
    margin: 0 0 5px 20px;
    text-align: right;
    color: $white;
  }
}

.erxes-message-sender {
  overflow: hidden;
  font-size: 12px;
  padding: 17px 30px;
  color: $gray;
  border-top: 1px solid lighten($grey, 10%);
}





