input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centerStatus {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.border {
  border: 1.5px dotted rgba(217, 207, 207, 0.8);
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
}

.label {
  color: rgb(52, 67, 67);
  font-weight: 500
}

.labelSpecial {
  color: rgb(31, 168, 97);
  font-weight: 500;
  left: 30%;
}