.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons a {
  margin-bottom: 10px;
}

.step {
  padding-top: 30px;
}

.dedicationWrapper {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.dedicationWrapper img {
  margin: 20px auto;
}

.featureImage {
  height: 120px;
  margin: 20px auto;
  display: block;
}

.investIcon {
  height: 50px;
}

.smallDesc {
  font-size: var(--ifm-font-size-base);
}

.description {
  opacity: 0.8;
}

.item {
  background: rgba(180, 180, 180, 0.1);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  transition: background ease 0.3s;
  font-size: 20px;
  margin-bottom: 20px;
}

.item:hover {
  background: rgba(180, 180, 180, 0.15);
}

.link {
  display: block;
}

.link:hover {
  text-decoration: underline;
}

.iframe {
  text-align: center;
}

.iframe iframe {
  border: none;
  border-radius: 20px;
  width: 100%;
  max-width: 593px;
  min-height: 1800px;
}

.clientsWrapper {
  border-bottom: 1px solid rgba(180, 180, 180, 0.2);
  border-top: 1px solid rgba(180, 180, 180, 0.2);
  padding: 60px 0 90px;
}

.clientsWrapper h2 {
  margin-bottom: 50px;
  text-align: center;
}

.clients {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.clients img {
  max-height: 72px;
  margin-right: 20px;
  margin-bottom: 25px;
  opacity: 0.8;
  max-width: 180px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.features h2 {
  padding-right: 5px;
}

.description {
  font-size: 20px;
  opacity: 0.8;
}

.iconWrapper {
  color: var(--nebula-blue);
  font-size: 25px;
}

.colorYellow {
  color: #fda50f;
}

.colorPrimary {
  color: var(--nebula-blue);
}

.descriptionList {
  margin-bottom: 30px;
}

.descriptionList dt {
  font-size: 20px;
  margin-bottom: 5px;
}

.descriptionList dd {
  margin: 0;
  color: #666;
}

@media (min-width: 600px) {
  .buttons a {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .featureImage {
    margin: 20px 0;
  }

  .item {
    height: 100%;
    margin-bottom: 0;
  }

  .iframe iframe {
    min-height: 400px;
  }

  .clients img {
    margin-bottom: 0;
  }

  .dedicationWrapper {
    padding: 50px 0;
  }
}

.styled {
  margin: 5px;
}

.styleSpinner {
  margin: 15px;
  display: flex;
}

.spinner {
  width: 33%;
}

code {
  background-color: #282a36;
  border: none;
  color: white;
}

.sortHandlerContainer {
  margin: 20px;
}

.blueP {
  color: blue;
}

.TipsContainer {
  margin: 20px;
}

.bigContainer {
  display: flex;
  flex-direction: column;
}

.required {
  color: red;
}

.iconWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 115px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #444;
}

.iconButton {
  text-align: center;
  margin-top: 10px;
  width: 115px;
  background-color: #fafafa;
  border: #eee;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #444;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  padding: 20px 16px;
  position: relative;
  transition: all 0.3s ease;
  touch-action: manipulation;
}

.iconButton:hover {
  background-color: #e5e8eb71;
}

.iconButton:hover {
  background-color: #d4d8dd;
}

.iconButton:active {
  background-color: #d5d9dd8c;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.searchBar {
  height: 45px;
  font-size: 16px;
  border-color: #eee;
  border-style: solid;
  border-radius: 6px;
  padding-left: 15px;
  margin-bottom: 15px;
  width: 98%;
}

.searchBar:focus {
  border-color: #dee4e7;
  border-style: solid;
  outline: 0;
}

.searchBar:hover {
  border-color: #dee4e7;
  border-style: solid;
  background-color: rgba(203, 204, 206, 0.13);
}

.test {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px 20px;
}

.smBox {
  height: 100%;
  width: 100%;
  background-color: #63d2d6;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.smBox:hover {
  background-color: #57b9bd;
  cursor: pointer;
}

.sizeBox {
  height: 100%;
  width: 100%;
  background-color: #edf1f5;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.sizeBox :hover {
  background-color: #d8e0e7;
  cursor: pointer;
}
