<!DOCTYPE html>

<html lang="en">
  <body>
    <script>
      window.erxesSettings = {
        messenger: {
          brand_id: '<%= brand_id %>'
        }
      };

      (function() {
        var script = document.createElement('script');
        script.src = '<%= JSON.parse(env).ROOT_URL %>/build/messengerWidget.bundle.js';
        script.async = true;
        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
      })();
    </script>
  </body>
</html>