<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body>
    <script>
      window.erxesEnv = <%- env %>;

      <% if (locals.kbTopicId) { %>
       window.knowledgebaseSettings = {
         topic_id: "<%= kbTopicId %>"
       }
      <% } %>
    </script>

    <div id="root"></div>

    <script src="<%= JSON.parse(env).ROOT_URL %>/build/<%= type %>.bundle.js"></script>
  </body>
</html>
