<!DOCTYPE html>
<html lang="en" class="uk-background-muted">
  <head>
    <!-- UIkit CSS for test -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css"
    />
    <style>
      [data-erxes-kbase],
      [data-erxes-embed] {
        height: 400px;
        position: relative;
      }

      [data-erxes-kbase] {
        height: 700px;
      }
      .erxes-embed-iframe {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
        height: 500px !important;
      }
    </style>
  </head>

  <body class="uk-margin">
    <script>
      const button = document.querySelector('#button');
    </script>

    <script>
      window.erxesSettings = {
        messenger: {
          brand_id: 'TmPosE'
        }
      };

      (function() {
        var script = document.createElement('script');
        script.src = 'http://localhost:3200/build/messengerWidget.bundle.js';
        script.async = true;
        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
      })();
    </script>
  </body>
</html>
