<!DOCTYPE html>

<html lang="en">

<body>
    <script>
        window.erxesSettings = {
            forms: [{
                brand_id: 'qR6Kx3',
                form_id: 'tLK6Yf'
            }],
        };

        (function () {
            var script = document.createElement('script');
            script.src = '<%= JSON.parse(env).ROOT_URL %>/build/formWidget.bundle.js';
            script.async = true;
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);
        })();
    </script>
</body>

</html>