PORT=4200
NODE_ENV=development
REACT_APP_API_URL=http://localhost:3300
REACT_APP_DASHBOARD_API_URL=http://localhost:4300
REACT_APP_API_SUBSCRIPTION_URL=ws://localhost:3300/subscriptions
REACT_APP_DASHBOARD_CUBE_TOKEN=