.widget-appearance {
  display: flex;
  flex-direction: row;
}
.widget-appearance > div {
  padding: 10px 30px 10px 10px;
}

.color-pick {
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.color-pick > div {
  width: 80px;
  height: 15px;
}

.chrome-picker {
  box-shadow: none !important;
}

.background-selector {
  border: 3px solid transparent;
  margin-right: 15px;
  border-radius: 4px;
  transition: border-color 0.3s;
}
.background-selector:last-child {
  margin-right: 0;
}
.background-selector.selected {
  border-color: #ddd;
}
.background-selector:hover {
  cursor: pointer;
}
.background-selector > div {
  width: 80px;
  height: 40px;
  margin: 5px;
  border: 1px solid #ddd;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 220%;
}
.background-selector > div.background-1 {
  background-image: url('/images/patterns/bg-1.png');
}
.background-selector > div.background-2 {
  background-image: url('/images/patterns/bg-2.png');
  background-position: 80px 260px;
}
.background-selector > div.background-3 {
  background-image: url('/images/patterns/bg-3.png');
}
.background-selector > div.background-4 {
  background-image: url('/images/patterns/bg-4.png');
}
.background-selector > div.background-5 {
  background: #faf9fb;
}

.widget-preview.engage-message {
  height: 135px;
  color: #555;
  background: #faf9fb;
}
.widget-preview.engage-message.type-snippet,
.widget-preview.engage-message.type-default {
  height: 135px;
}
.widget-preview.engage-message.type-snippet .preview-content,
.widget-preview.engage-message.type-default .preview-content {
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
}
.widget-preview.engage-message.type-fullMessage {
  height: 440px;
  overflow: auto;
}
.widget-preview.engage-message .name-card {
  flex-shrink: 0;
  padding: 20px 20px 10px;
}
.widget-preview.engage-message .name-card .avatar div {
  background: #ededed;
}
.widget-preview.engage-message .RichEditor-styleButton {
  margin-right: 8px;
}

.erxes-messages-list {
  display: flex;
  flex-direction: column;
  background-color: #faf9fb;
  overflow: auto;
  padding: 20px;
  margin: 0;
  flex: 1;
  list-style: none;
  background-repeat: repeat;
  background-position: 0 0;
}
.erxes-messages-list.background-1 {
  background-image: url('/images/patterns/bg-1.png');
}
.erxes-messages-list.background-2 {
  background-image: url('/images/patterns/bg-2.png');
}
.erxes-messages-list.background-3 {
  background-image: url('/images/patterns/bg-3.png');
}
.erxes-messages-list.background-4 {
  background-image: url('/images/patterns/bg-4.png');
}
.erxes-messages-list li {
  position: relative;
  margin-bottom: 10px;
}
