PORT=4300
CUBEJS_DB_HOST=localhost
CUBEJS_API_SECRET=
CUBEJS_DB_TYPE=elasticsearch
CUBEJS_DB_URL=http://localhost:9200
CUBEJS_URL=http://localhost:4300
REDIS_URL=http://localhost:6379/
REDIS_PASSWORD=""
