# dependencies
/node_modules

# next.js
/.next/

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

.vscode
# pwa
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map