[id^=erxes-container] {
  z-index: 1000000000;
  border: none;
}

[id^=erxes-container] > iframe {
  border: none;
}

/*loader*/
[data-erxes-embed] {
  position: relative;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.03);
}

[data-erxes-embed]:before {
  content: ' ';
  position: absolute;
  right: 50%;
  top: 100px;
  margin-left: -10px;
  border: 2px solid #ddd;
  animation: spin 1s linear infinite;
  border-top: 2px solid #aaa;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  z-index: -1;
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 420px) {
  [id^=erxes-container] {
    width: 100%;
    max-height: none;
  }

  [id^=erxes-iframe] {
    bottom: 0;
    right: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.erxes-modal-iframe {
  position: fixed; /* Stay in place */
  z-index: 1000000; /* Sit on top */
  left: 0;
  top: 0;
  min-width: 100%; /* Full width */
  min-height: 100vh; /* Full height */
  border: none;
  height: 100%;
}

.erxes-embed-iframe {
  position: initial !important;
  margin: 0 auto;
  height: 100%;
}

.erxes-slide-left-iframe {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 370px;
}

.erxes-slide-right-iframe {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 370px;
}

.erxes-dropdown-iframe {
  position: fixed;
  top: 0px;
  width: 100%;
}

/* shoutbox */
.erxes-shoutbox-iframe {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 416px;
  height: 100%;
  max-height: 560px;
}

.erxes-shoutbox-iframe > iframe {
  position: absolute;
  bottom: 12px;
  right: 12px;
  z-index: 100000000;
}

.erxes-shoutbox-iframe.erxes-hidden {
  width: 72px;
  height: 72px;
}