body {
  margin: 0;
  box-sizing: border-box;
}

.erxes-widget {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  button,
  input,
  textarea {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }

  &.opened .erxes-form {
    @include prefix((
      opacity: 1
    ), webkit moz ms o);
    visibility: visible;
  }

  &.opened .erxes-messenger {
    @include prefix((
      opacity: 1
    ), webkit moz ms o);
    visibility: visible;
  }
}

.icon {
  height: 40px;

  &.white {
    fill: $white;
  }

  &.attach {
    fill: $text-color;
    height: 35px;
    stroke: $text-color;
  }
}
