# Dependencies
node_modules
.pnpm-store

# Build output
dist

# Version control
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# Test coverage
coverage

# Temporary files
.DS_Store
*.swp
*.swo 