.erxes-form {
  .react-datepicker__input-container {
    display: block;
  }
}

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker {
  border-color: $border-color !important;
  box-shadow: 0 5px 15px -3px rgba($black, .15);

  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: $main-color;
    border-radius: $border-radius / 2;

    &:hover {
      background-color: darken($main-color, 10%);
    }
  }

  .react-datepicker__header {
    background: $bg-color;
    border-color: $border-color;
  }

  .react-datepicker__triangle {
    border-bottom-color: $bg-color !important;

    &::before {
      border-bottom-color: $border-color !important;
    }
  }
}
