.erxes-topbar {
  background: $main-color;
  overflow: hidden;
  width: 100%;
  height: 70px;
  text-align: center;
  flex-shrink: 0;
  color: $white;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  .erxes-middle {
    display: flex;
  }

  &.thiner {
    height: 50px;

    .erxes-topbar-title {
      margin-top: 15px;
    }
  }
}

.erxes-topbar-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2em;
  align-self: center;
  padding: 0 60px;
  min-width: 0;
  flex: 1;

  span {
    font-size: 14px;
    font-weight: 300;
  }

  > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
