[class*=" erxes-icon-"],
[class^=erxes-icon-] {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 32px;
  width: 32px;
}

.erxes-icon-alarm {
  background-image: url('https://s3.amazonaws.com/erxes/icons/alarm.svg');
}

.erxes-icon-bar-chart {
  background-image: url('https://s3.amazonaws.com/erxes/icons/bar-chart.svg');
}

.erxes-icon-book {
  background-image: url('https://s3.amazonaws.com/erxes/icons/book.svg');
}

.erxes-icon-briefcase {
  background-image: url('https://s3.amazonaws.com/erxes/icons/briefcase.svg');
}

.erxes-icon-calculator {
  background-image: url('https://s3.amazonaws.com/erxes/icons/calculator.svg');
}

.erxes-icon-calendar {
  background-image: url('https://s3.amazonaws.com/erxes/icons/calendar.svg');
}

.erxes-icon-clipboard {
  background-image: url('https://s3.amazonaws.com/erxes/icons/clipboard.svg');
}

.erxes-icon-cloudcomputing {
  background-image: url('https://s3.amazonaws.com/erxes/icons/cloudcomputing.svg');
}

.erxes-icon-compass {
  background-image: url('https://s3.amazonaws.com/erxes/icons/compass.svg');
}

.erxes-icon-computer {
  background-image: url('https://s3.amazonaws.com/erxes/icons/computer.svg');
}

.erxes-icon-dashboard {
  background-image: url('https://s3.amazonaws.com/erxes/icons/dashboard.svg');
}

.erxes-icon-diagram {
  background-image: url('https://s3.amazonaws.com/erxes/icons/diagram.svg');
}

.erxes-icon-diamond {
  background-image: url('https://s3.amazonaws.com/erxes/icons/diamond.svg');
}

.erxes-icon-bar-earthgrid {
  background-image: url('https://s3.amazonaws.com/erxes/icons/bar-earthgrid.svg');
}

.erxes-icon-flag {
  background-image: url('https://s3.amazonaws.com/erxes/icons/flag.svg');
}

.erxes-icon-folder {
  background-image: url('https://s3.amazonaws.com/erxes/icons/folder.svg');
}

.erxes-icon-head-1 {
  background-image: url('https://s3.amazonaws.com/erxes/icons/head-1.svg');
}

.erxes-icon-home {
  background-image: url('https://s3.amazonaws.com/erxes/icons/home.svg');
}

.erxes-icon-idea {
  background-image: url('https://s3.amazonaws.com/erxes/icons/idea.svg');
}

.erxes-icon-laptop {
  background-image: url('https://s3.amazonaws.com/erxes/icons/laptop.svg');
}

.erxes-icon-like {
  background-image: url('https://s3.amazonaws.com/erxes/icons/like.svg');
}

.erxes-icon-medal {
  background-image: url('https://s3.amazonaws.com/erxes/icons/medal.svg');
}

.erxes-icon-megaphone {
  background-image: url('https://s3.amazonaws.com/erxes/icons/megaphone.svg');
}

.erxes-icon-paste {
  background-image: url('https://s3.amazonaws.com/erxes/icons/paste.svg');
}

.erxes-icon-piechart {
  background-image: url('https://s3.amazonaws.com/erxes/icons/piechart.svg');
}

.erxes-icon-piggybank {
  background-image: url('https://s3.amazonaws.com/erxes/icons/piggybank.svg');
}

.erxes-icon-puzzle {
  background-image: url('https://s3.amazonaws.com/erxes/icons/puzzle.svg');
}

.erxes-icon-scale {
  background-image: url('https://s3.amazonaws.com/erxes/icons/scale.svg');
}

.erxes-icon-settings {
  background-image: url('https://s3.amazonaws.com/erxes/icons/settings.svg');
}

.erxes-icon-star {
  background-image: url('https://s3.amazonaws.com/erxes/icons/star.svg');
}

.erxes-icon-tools {
  background-image: url('https://s3.amazonaws.com/erxes/icons/tools.svg');
}

.erxes-icon-umbrella {
  background-image: url('https://s3.amazonaws.com/erxes/icons/umbrella.svg');
}

.erxes-icon-paintpalette {
  background-image: url('https://s3.amazonaws.com/erxes/icons/paintpalette.svg');
}

.erxes-icon-users {
  background-image: url('https://s3.amazonaws.com/erxes/icons/users.svg');
}

.erxes-icon-stamp {
  background-image: url('https://s3.amazonaws.com/erxes/icons/stamp.svg');
}

.erxes-icon-phone-call {
  background-image: url('https://s3.amazonaws.com/erxes/icons/phone-call.svg');
}

.erxes-icon-magicwand {
  background-image: url('https://s3.amazonaws.com/erxes/icons/magicwand.svg');
}

.erxes-icon-folder {
  background-image: url('https://s3.amazonaws.com/erxes/icons/folder.svg');
}



