# general
NODE_ENV=development
PORT=4011

# MongoDB
MONGO_URL=mongodb://localhost/erxes?directConnection=true
CORE_MONGO_URL=mongodb://127.0.0.1:27017/erxes_core?directConnection=true


# RabbitMQ
RABBITMQ_HOST=amqp://localhost

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

CALL_API_USER=
CALL_API_PASSWORD=

TIMEZONE=8

ENDPOINT_URL=http://localhost:4444
CALL_WEBHOOK_REQUIRE_SIGNATURE=false
CALL_SUBSCRIPTION_REQUIRE_AUTH=false

