# general
NODE_ENV=development
PORT=4011

# MongoDB
MONGO_URL=mongodb://localhost/erxes?directConnection=true
CORE_MONGO_URL=mongodb://127.0.0.1:27017/erxes_core?directConnection=true


# RabbitMQ
RABBITMQ_HOST=amqp://localhost

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

CALL_API_USER=
CALL_API_PASSWORD=

CALL_WS_API_USER=
CALL_WS_API_PASSWORD=
CALL_WS_SERVER=

TIMEZONE=8

CALL_CRON_API_USER=
CALL_CRON_API_PASSWORD=

ENDPOINT_URL=http://localhost:4444
