{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
