name: Email Verifier CI

on:
  push:
    branches:
      - master
      - develop
    paths:
      - "email-verifier/**"
      - ".github/workflows/email-verifier.yaml"

  pull_request:
    branches:
      - master
      - develop
    paths:
      - "email-verifier/**"
      - ".github/workflows/email-verifier.yaml"

jobs:
  email-verifier:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 12.18.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.18.x

      # https://github.com/actions/cache/blob/master/examples.md#node---yarn
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-email-verifier-${{ hashFiles('email-verifier/**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-email-verifier-
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: |
          cd email-verifier
          yarn install

      - name: Build
        run: |
          cd email-verifier
          yarn build

      - name: Build docker image
        if: github.event_name == 'push' && ( github.ref == 'refs/heads/master' || github.ref == 'refs/heads/develop' )
        run: |
          cd email-verifier
          echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
          docker build -t erxes/erxes-email-verifier:${GITHUB_REF#refs/heads/} -f Dockerfile .
          docker push erxes/erxes-email-verifier:${GITHUB_REF#refs/heads/}
