name: Email Verifier CI

on:
  push:
    branches:
      - priuscenter
    paths:
      - "email-verifier/**"
      - ".github/workflows/email_verifier.yaml"

  pull_request:
    branches:
      - priuscenter
    paths:
      - "email-verifier/**"
      - ".github/workflows/email_verifier.yaml"

jobs:
  email-verifier:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 12.20.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.20.x

      # https://github.com/actions/cache/blob/master/examples.md#node---yarn
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-email-verifier-${{ hashFiles('yarn.lock', 'email-verifier/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-email-verifier-
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: |
          yarn install
          cd email-verifier
          yarn install --frozen-lockfile

      - name: Lint
        run: |
          yarn lint email-verifier

      - name: Build
        run: |
          cd email-verifier
          rm -rf node_modules
          yarn install --frozen-lockfile --production
          yarn build

      - name: Build docker image
        if: github.event_name == 'push' && ( github.ref == 'refs/heads/priuscenter' )
        run: |
          cd email-verifier
          echo ${{ secrets.REGISTRY_TOKEN }} | docker login ${{ secrets.REGISTRY_URL }} -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin
          docker build -t ${{ secrets.REGISTRY_URL }}/erxes-enterprise/erxes-email-verifier:${GITHUB_REF#refs/heads/} -f Dockerfile .
          docker push ${{ secrets.REGISTRY_URL }}/erxes-enterprise/erxes-email-verifier:${GITHUB_REF#refs/heads/}
