name: UI CI

on:
  push:
    branches:
      - "**"
    paths:
      - "ui/**"
      - "plugins/**/ui/**"
      - ".github/workflows/ui.yaml"
      - "!ui/nginx/**"
      - "!ui/docker-entrypoint.sh"
      - "!ui/base.Dockerfile"
      - "!ui/base.Dockerfile.dockerignore"
  pull_request:
    branches:
      - priuscenter
    paths:
      - "ui/**"
      - "plugins/**/ui/**"
      - "!ui/nginx/**"
      - "!ui/docker-entrypoint.sh"
      - "!ui/base.Dockerfile"
      - "!ui/base.Dockerfile.dockerignore"

jobs:
  ui:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 12.20.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.20.x

      # https://github.com/actions/cache/blob/master/examples.md#node---yarn
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-ui-${{ hashFiles('yarn.lock', 'ui/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-ui-
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: |
          yarn install
          yarn prepare-plugins-ui
          cd ui
          yarn install --frozen-lockfile

      - name: Lint
        run: |
          yarn lint ui

    - name: Cypress run
      run: |
        cd ui
        yarn install
#        yarn record-cypress

      - name: Build
        run: |
          cd ui
          rm -rf node_modules
          rm -rf src/__tests__
          rm src/setupTests.ts
          yarn install --frozen-lockfile --production
          cd ..
          yarn prepare-plugins-ui
          cd ui
          yarn build

      - name: Build docker image
        if: github.event_name == 'push' && ( github.ref == 'refs/heads/priuscenter' )
        env:
          BASE_IMAGE: erxes/erxes:base-1.18-alpine
          DOCKER_BUILDKIT: 1
        run: |
          cd ui
          echo ${{ secrets.REGISTRY_TOKEN }} | docker login ${{ secrets.REGISTRY_URL }} -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin
          docker build --build-arg BASE_IMAGE=$BASE_IMAGE -t ${{ secrets.REGISTRY_URL }}/erxes-enterprise/erxes:${GITHUB_REF#refs/heads/} -f ui.Dockerfile .
          docker push ${{ secrets.REGISTRY_URL }}/erxes-enterprise/erxes:${GITHUB_REF#refs/heads/}
