@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --font-*: initial;
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 0.875rem;
  --text-sm: 0.8125rem;
  --text-sm--line-height: 1rem;
  --text-base: 0.875rem;
  --text-base--line-height: 1.125rem;
  --text-lg: 1rem;
  --text-lg--line-height: 1.125rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.75rem;

  --color-border: hsl(var(--border));
  --color-scroll: hsl(var(--scroll));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-success: hsl(var(--success));
  --color-warning: hsl(var(--warning));
  --color-info: hsl(var(--info));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-sidebar: hsl(var(--sidebar-background));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --spacing-cell: 33px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --shadow-focus:
    0px 0px 0px 4px rgba(79, 70, 229, 0.25), 0px 0px 0px 1px hsl(var(--primary));
  --shadow-subtle: 0px 0px 0px 1px hsla(var(--primary));
  --shadow-destructive: 0px 0px 0px 1px hsla(var(--destructive));
  --shadow-xs:
    0 0 0 1px hsla(var(--shadow)), 0 1px 1px hsla(var(--shadow)),
    0 2px 2px hsla(var(--shadow));
  --shadow-sm:
    0 0 0 1px hsla(var(--shadow)), 0 1px 1px hsla(var(--shadow)),
    0 2px 2px hsla(var(--shadow)), 0 4px 4px hsla(var(--shadow));
  --shadow-lg:
    0 0 0 1px hsla(var(--shadow)), 0 1px 1px hsla(var(--shadow)),
    0 2px 2px hsla(var(--shadow)), 0 4px 4px hsla(var(--shadow)),
    0 8px 8px hsla(var(--shadow));
  --shadow-xl:
    0 0 0 1px hsla(var(--shadow)), 0 1px 1px hsla(var(--shadow)),
    0 2px 2px hsla(var(--shadow)), 0 4px 4px hsla(var(--shadow)),
    0 8px 8px hsla(var(--shadow)), 0 16px 16px hsla(var(--shadow));

  --ring-color: hsl(var(--ring));

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility hide-scroll {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility styled-scroll {
  /* Custom scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
    border-radius: 10px;
    border: 3px solid hsl(var(--background));
  }

  /* Custom scrollbar for IE, Edge and Firefox */
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
}

@utility block-child {
  & > * {
    @apply block!;
  }
}

@layer base {
  :root {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'Roboto Mono', monospace;
    --background: 0 0% 100%;
    --foreground: 240 6% 10%;
    --primary: 243 75% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 244 53% 85%;
    --muted: 0 0% 95%;
    --muted-foreground: 0 2% 45%;
    --accent: 240 3% 96%;
    --accent-foreground: 240 3% 66%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 71% 45%;
    --warning: 25 80% 63%;
    --info: 217 91% 60%;
    --scroll: 240 5% 83%;
    --border: 240 6% 90%; /* gray/3 */
    --input: 240 6% 90%; /* gray/3 */
    --ring: 244 76% 59%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%; /* gray/1 */
    --shadow: 0, 0%, 0%, 0.05;
    --spacing: 0.25rem;
    --chart-1: 30 42% 55%;
    --chart-2: 185 52% 47%;
    --chart-3: 227 38% 39%;
    --chart-4: 84 73% 68%;
    --chart-5: 70 75% 64%;
  }
  .dark {
    --background: 0 0% 9%; /* primary/white */
    --foreground: 240 6% 97%; /* primary/black */
    --primary: 243 75% 59%; /* primary/purple */
    --primary-foreground: 0 0% 98%; /* primary/white */
    --secondary: 244 53% 16%; /* secondary/purple */
    --muted: 0 0% 14%; /* secondary/gray */
    --muted-foreground: 0 2% 64%; /* grey/6 */
    --accent: 240 3% 13%; /* grey/2 */
    --accent-foreground: 240 3% 43%; /* grey/5 */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 71% 45%;
    --warning: 25 80% 63%;
    --info: 217 91% 60%;
    --scroll: 240 5% 26%; /* grey/4 */
    --border: 240 6% 19%; /* gray/3 */
    --input: 240 6% 19%; /* gray/3 */
    --ring: 244 76% 50%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 11%; /* gray/1 */
    --shadow: 0, 0%, 40%, 0.05;
    --chart-1: 264 58% 46%;
    --chart-2: 162 53% 61%;
    --chart-3: 70 75% 64%;
    --chart-4: 304 68% 52%;
    --chart-5: 16, 70%, 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  #root{
    @apply h-full flex-1 flex flex-col overflow-hidden;
  }
  html{
    @apply h-full;
  }
  body {
    @apply bg-background text-foreground h-full flex-col flex;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-base font-bold;
  }
}
